<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="style.css">
  <title>Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">


<!-- Header -->

<nav class="navbar navbar-expand-sm navbar-light fixed-top" id="nav">
    <div class="container-fluid">
     <a class="navbar-brand" href="#home"><img class="img-fluid"src="images/tatvasoft.png" alt="Logo" style="width:200px; height:55px;" class="rounded-pill"></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#service">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#portfolio">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#collapsible">COLLAPSIBLE</a>
      </li>
       <li class="nav-item">
        <a class="nav-link active" href="#blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#contact">CONTACT</a>
    </li>
    </ul>

</div>
</div>
</nav>

<!-- Images -->

<div id="home">
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color:black;">
      <div class="index-img">
      <img src="images/banner-01.jpg" alt="Los Angeles" class="d-block" style="width:100%; height: 740px;">
    </div>
      <div class="carousel-caption">
        <div class="index-text">
        <h1>Hello I'm Web Designer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis massa bibendum sodales rhoncus.</p>
        <a class="link" href="#">DOWNLOAD CV</a>
      </div>
   </div>
 </div>

   
    <div class="carousel-item" style="background-color:black;">
        <div class="index-img">
      <img src="images/man1.jfif" alt="man img" class="d-block" style="width:100%; height: 740px;">
    </div>
      <div class="carousel-caption">
        <div class="index-text">
        <h1>Hello I'm Web Developer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis massa bibendum sodales rhoncus.</p>
         <a class="link" href="#">DOWNLOAD CV</a>
      </div> 
    </div>
    </div>
  

    <div class="carousel-item" style="background-color:black;">
        <div class="index-img">
      <img src="images/man.jfif" alt="man img" class="d-block" style="width:100%; height: 740px;">
        </div>
      <div class="carousel-caption">
        <div class="index-text">
        <h1>Hello I'm Ux/Ui Designer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis massa bibendum sodales rhoncus.</p>
         <a class="link" href="#">DOWNLOAD CV</a>
      </div>  
     </div>
    </div>
   </div>
  
  <button class="carousel-control-prev"  type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
 </div>
</div>

<!-- About -->


<div id="about">
 <div class="container" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                    <div class="message-box">                        
                        <h2 style="color:black;">About Me</h2>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>
                        <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     </div>

            <ul class="nav">
             
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul><br>

            <button class="cv" onclick="document.location='#'">Download cv</button>
            </div>

        <div class="col-md-6 col-lg-6 col-sm-12 col-12">
          <div class="message-box">
            <img src="images/about-1.png" alt="" style="width:600px; height:530px;">
             </div>
            </div>
          </div>
      </div>
</div>


<!-- Services -->

<div id="service" style="background-color:rgb(240, 240, 240);">
  <div class="container">
    <div class="service">
      <h1 style="font-size: 48px;">Services</h1>
        <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
    </div>
            
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12 col-12">
        <div class="box">
          <div class="icon"><i class="fas fa-chart-line"></i></div>                     
            <h2>Graphic</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
       </div>
                        

      <div class="col-md-4 col-lg-4 col-sm-12 col-12">
        <div class="box">
          <div class="icon"><i class="fas fa-clone"></i></div>              
            <h2>Support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
       </div>
                    

        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
          <div class="box">
            <div class="icon"><i class="fas fa-edit"></i></div>                    
              <h2>Web Idea</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
       </div>
                   

 <div class="row">
   <div class="col-md-4 col-lg-4 col-sm-12 col-12">
     <div class="box">
       <div class="icon"><i class="fas fa-cloud"></i></div>                 
         <h2>Development</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
       </div>
                        
       <div class="col-md-4 col-lg-4 col-sm-12 col-12">
         <div class="box">
          <div class="icon"><i class="fas fa-chart-pie"></i> </div>                  
            <h2>Responsive</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
                        
         <div class="col-md-4 col-lg-4 col-sm-12 col-12">
           <div class="box">
             <div class="icon"><i class="far fa-window-restore"></i></div>           
               <h2>Creative</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>
       </div>


<!-- Portfolio -->

<div id="portfolio">
<section id="portfolio" class="section-padding pb-85 portfolio-area bg-light">
        <div class="container">
          
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center" style="margin-top: 80px;">
                        <h2>Recent Work</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
           
            <div class="row justify-content-center">
             
                <div class="col-lg-8">
                    <div class="work-list text-center">
                        <ul>
                            <li class="filter" class="active" data-filter="all">ALL</li>
                            <li class="filter" data-filter=".web">Web Design</li>
                            <li class="filter" data-filter=".graphic">Graphic</li>
                            <li class="filter" data-filter=".logo">Logo</li>
                            <li class="filter" data-filter=".wp">Wordpress</li>
                            <li class="filter" data-filter=".other">Other</li>
                        </ul>
                    </div>
                </div>
              
            </div>
            <div class="row portfolio">
             
                <div class="col-lg-4 col-md-6 mix wp graphic">
                    <div class="single-portfolio" style="background-image: url(images/gallery_img-06.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-1.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
             
                <div class="col-lg-4 col-md-6 mix logo web graphic other wp">
                    <div class="single-portfolio" style="background-image: url(images/gallery_img-01.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-2.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 col-md-6 mix wp other">
                    <div class="single-portfolio" style="background-image: url(images/gallery_img-04.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-3.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
             
                <div class="col-lg-4 col-md-6 mix logo other graphic wp web">
                    <div class="single-portfolio" style="background-image: url(images/gallery_img-05.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-4.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 mix logo other wp graphic web">
                    <div class="single-portfolio" style="background-image: url(images/img-5.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-5.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mix wp logo graphic web">
                    <div class="single-portfolio" style="background-image: url(images/img-6.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-6.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover other">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mix web wp">
                    <div class="single-portfolio" style="background-image: url(images/img-7.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-7.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 col-md-6 mix logo graphic wp web">
                    <div class="single-portfolio" style="background-image: url(images/img-8.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-8.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 col-md-6 mix other logo web">
                    <div class="single-portfolio" style="background-image: url(images/img-9.jpg)">
                        <div class="portfolio-icon text-center">
                            <a data-lightbox='lightbox' href="assets/images/portfolio/img-9.jpg"><i class="fas fa-expand-arrows-alt"></i></a>
                        </div>
                        <div class="portfolio-hover">
                            <h4>Project <span>Name</span></h4>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
</div>

<!-- FREQUENTLY -->


<div id="collapsible">
<div class="colo" style="margin-top: 70px;">
 <div class="container">
  <div class="freq-text">
    <h2>FREQUENTLY ASKED QUESTIONS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
            
   <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-12 mb-5">
      <div class="freq-img">
        <img src="images/faq.jpeg" alt="" style="width:100%; height:277px;">
       </div>
      </div>

     <div class="col-md-6 col-lg-6 col-sm-12 col-12 mb-5">              
      <div id="accordion">
       <div class="freq-pad">
        <div class="card">
         <div class="card-header">
           <a class="btn" id="cart" data-bs-toggle="collapse" href="#collapseOne">Collapsible Group Item 1</a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
         <div class="card-body" id="cart">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" id="cart" data-bs-toggle="collapse" href="#collapseTwo">Collapsible Group Item 2</a>
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body" id="cart">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" id="cart" data-bs-toggle="collapse" href="#collapseThree">Collapsible Group Item 3</a>
      </div>
      <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
        <div class="card-body" id="cart">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<!-- Blog -->

<div id="blog" style="background-color: rgb(240, 240, 240);">
 <div class="container">
  <div class="blog">
    <h1>Blog</h1>
    <p style="padding-top:30px;">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim,Quisque eget nisl non aliquam risus.</p>
  </div>


  <div class="row">
    <div class="col-md-8 col-lg-4 col-sm-12 col-12 mt-3">
      <div class="card">
        <img class="card-img-top" src="images/img-2.jpg" alt="Card image" style="width:100%;">
         <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-outline-warning">Read More..</a>
       </div>
      </div>
     </div>
 

<div class="col-md-8 col-lg-4 col-sm-12 col-12 mt-3">
  <div class="card">
    <img class="card-img-top" src="images/img-3.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-outline-warning">Read More..</a>
    </div>
  </div>
</div>
 
  

<div class="col-md-8 col-lg-4 col-sm-12 col-12 mt-3">
  <div class="card">
    <img class="card-img-top" src="images/img-1.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-outline-warning">Read More..</a>
    </div>
   </div>
  </div>
 </div>
</div>
</div>
</div>


<!-- Form -->

<div id="contact">
<div class="container-fluid" id="form-img">
  
  
<div class="contact">
  <h1>Contact Me</h1>
  <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
</div>

<div class="container" style="border: 2px solid white;">
  <form>
    <div class="row">
      <div class="col-10 col-lg-6 col-md-6 col-sm-10">
        <input type="text" class="form-control form" placeholder="Enter Name" name="name">
        <input type="text" class="form-control form" placeholder="Enter Email" name="email">
        <input type="text" class="form-control form" placeholder="Enter Phone" name="phone">
      </div>

      <div class="col-10 col-lg-6 col-md-6 col-sm-10">
        <textarea class="form-control" id="form-text" placeholder="Your Message" name="text"></textarea>
       </div>
      </div>
       <button class="send-message" onclick="document.location='#'">SEND MESSAGE</button>
    </form>
  </div>
 </div>
</div>

<div class="footer">
All Rights Reserved. © 2018 Nickie Design By : html design
</div>
</div>



    <script src="images/lightbox.min.js"></script>
    <script src="images/owl.carousel.min.js"></script>
    <script src="images/jquery.mixitup.js"></script>
    <script src="images/wow.min.js"></script>
    <script src="images/main.js"></script>

</body>
</html>
