
/* Header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar {
    width: 100%;
    height: 64px;
    background: #525252 0% 0% no-repeat padding-box;
}
.navbar-nav {
    position: absolute;
    right: 15px;
}
a {
    color: #FFFFFF !important;
}

a:hover {
    color: #FFFFFF !important;
}

.nav-item {
    color: #FFFFFF !important;
}



.navbar .navbar-brand .logo {
    max-height: 54px;
    max-width: 73px;
    position: absolute;
    left: 15px;
    top: 6px;
}

.fa-bars {
    color: #007bff;
    font-size: 30px;
}

.booknow {
    width: 111px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}

.book-now {
    font-size: 17px;
    max-height: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.ps {
    width: 161px;
    height: 40px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 27px;

}

.ps1 {
    font-size: 17px;
    max-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.wbg {
    max-width: 258px;
    max-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
}

.login {
    width: 83px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}

.log-in {
    font-size: 16px;

}

.helper {

    display: inline-flex;
    justify-content: center;
    width: 161px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
}

.helper1 {
    font-size: 16px;
}

/* Top Image */

.top-contat-img img{
width: 100%;
height: 370px;
}


/* Contact */

.contact{
margin-top: 31px;
margin-left: auto;
margin-right: auto;
width: 174px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Medium;
font-size: 36px;
text-align: center;
}

.topimg{
position: relative;
margin-left: 470px;
margin-right: 470px;
}
.topimg::after,.topimg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 39%;
height: 1px;
background:#CCCCCC ;
    top:45%;
}
.topimg::before{
left: 0;
}
.topimg::after{
right: 0;
}

.sepretor {
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
display: block;
width: 24px;
height: 25px;
position: relative;
margin-top: 9px;
}

.middle-part{
margin-left: auto;
margin-right: auto;
max-width: 971px;
height: 144px;
margin-top:53px;
}


.arrow-img{
margin-top:0px;
margin-left:auto;
margin-right: auto;
width: 34px;
height: 54px;
}

.arrow-img-des{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 237px;
height: 73px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Regular;
font-size: 16px;
text-align: center;
}



.touch{
margin-top: 74px;
margin-left: auto;
margin-right: auto;
width: 248px;
height: 34px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Bold;
font-size: 28px;
text-align: center;
}


/* Border */

.bottom-border{
margin-top: 49px;
margin-left: auto;
margin-right: auto;
width: 1140px;
height: 1px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}


/* Touch */

.touch-container{
margin-left: auto;
margin-right: auto;
margin-top:23px;
max-width: 614px;
height:390px;
}

.text{
float:left;
}
.texts{
float:right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

input[type=text]{
font-family: Roboto-Regular;
margin-bottom: 15px;
font-size: 16px;
padding-left: 15px;
padding-top: 14px;
padding-bottom: 13px;
border: 1px solid #C8C8C8;
border-radius: 4px;
background: #FFFFFF 0% 0% no-repeat padding-box;
width: 300px;
height: 46px;
}

#number{
width: 57px;
height: 46px;
}

.subject-img{
position: absolute;
top:10px;
left:588px;
width: 15px;
height: 8px;
}

#message{
width:100%;
height:146px;
}

#submit{
padding-left: 49px;
padding-top: 10px;
margin-bottom: 0;
margin-left: 225px;
width: 163px;
height: 46px;
background: #1D7A8C 0% 0% no-repeat padding-box;
border-radius: 23px;
font-family: Roboto-Bold;
font-size: 20px;
color: white;
}

/* Map Image */

.map img{
margin-top: 80px;
width: 100%;
height: 400px;
}


/* Footer */

.newsletter {
height: 130px;
margin-top: 43px;
}

.newsletter h1 {
text-align: center;
font-size: 36px;
}

.newsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.newsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
font-family: Roboto-Regular;
}

.newsletter ::placeholder {
padding-left: 22px;
font-size: 14px;
width: 80px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.newsletter .ournews {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.newsletter .btn5 {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
font-size: 14px;
padding-top: 9px;
padding-left: 18px;
}

.newsletter .btn5 p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}

footer .btn3 {
color: white;
font-size: 14px;
}

footer .btn3:hover {
color: white;
background-color: teal;
}

footer {
margin-top: 53px;
background-color: #111111;
overflow: hidden;
}

.fnavimg {
width: 120px;
height: 92px;
margin-top: 20px;
margin-left: 115px;
}

footer .fnav1 {
margin-top: 20px;
margin-left: 115px;
}

footer .fnav2 {
width: 582px;
text-align: left;
letter-spacing: 0px;
color: #F1F1F1;
display: flex;
height: 43px;
font-size: 14px;
}

footer .fnav3 {
justify-content: center;
}

footer .fnav6 {
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

footer .fnav5 {
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

footer hr {
margin-left: 120px;
margin-right: 120px;
border-top: 1px solid #424242;
}

footer .privacy {
margin-bottom: 22px;
margin-top: 25px;
width: 240px;
text-align: center;
color: #9BA0A3;
font-family: Roboto-Regular;
font-size: 14px;
}

footer .tp {
padding-left: 10px;
display: inline-block;
}

@media screen and (max-width:1250px) {
.fnavimg {
width: fit-content;
margin-left: auto;
margin-right: auto;
}

footer .row {
flex-direction: column;
align-items: center;
}
}

/* Media Queries */



@media screen and (max-width:989px) {
.navbar .navbar-brand .logo {
max-height: 45px;
width: auto;
}
.navbar-nav {
background-color: black;
margin-top:10px;
margin-right:-15px;
width:100%;
}
.nav-item {
display: inline-table;
margin-top: 10px;
margin-bottom: 10px;
margin-inline: auto;
}
.navbar-nav .nav-link {
padding-left: 17px;
text-align: center;
}
}

@media screen and (max-width:1200px) {
.topimg{
position: relative;
margin-left: auto;
margin-right: auto;
}
.topimg::after,.topimg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 39%;
height: 1px;
background:#CCCCCC ;
top:45%;
}   
}

@media screen and (max-width: 1180px) {
.bottom-border{
width:100%;
}
}
@media screen and (max-width: 1180px) {
.middle-part{
max-width: 900px;
}

}    
@media screen and (max-width: 955px) {
.middle-part{
max-width: 700px;
}
}   

@media screen and (max-width: 990px) {
.bottom-border{
margin-top:130px;
}
}
@media screen and (max-width: 362px) {
.middle-part{
margin-left: -5px;
}
}
@media screen and (max-width: 767px) {
.bottom-border{
margin-top:270px;
}
.middle-part{
max-width: 300px;
}
.touch-container{
margin-bottom: 70px;
}
.text{
float:none !important;
margin-left:150px;
}
.texts{
float:left !important;
margin-left:150px; 
}
.input-group{
max-width:300px;
margin-bottom: 15px;
}
input[type="text"]{
max-width: 300px;
}
#message, #subject{
margin-left:150px;
}
.subject-img{
left:430px !important;
}
}

@media screen and (max-width: 500px) {
.text{
margin-left:90px;
}
.texts{
margin-left:90px; 
}
#message, #subject{
margin-left:90px;
}
.subject-img{
left:370px !important;
}
#submit{
margin-left:160px;
}
}
@media screen and (max-width: 422px) {
.text{
margin-left:20px;
}
.texts{
margin-left:20px; 
}
#message, #subject{
margin-left:20px;
}
.subject-img{
left:300px !important;
}
#submit{
margin-left:80px;
}
}
@media screen and (max-width: 350px) {
.middle-part{
margin-left: -29px;
}
.touch-container{
margin-bottom: 120px;
}
.text{
margin-left:15px;
}
.texts{
margin-left:15px; 
}
#message, #subject{
margin-left:15px;
}
.subject-img{
left:240px !important;
}
.input-group{
max-width:260px;
}
input[type="text"]{
max-width: 260px;
}
#submit{
margin-left:60px;
}
}
@media screen and (max-width: 10000px) {
.top-contat-img img, .map img{
height:500px;
}
}
@media screen and (max-width: 2000px) {
.top-contat-img img, .map img{
height:370px;
}
}

@media screen and (max-width: 950px) {
.fnavimg {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
}
footer .fnav1 .img {
width: 60px;
height: 42px;
}
footer .fnav2 {
margin-left: auto;
margin-right: auto;
display: table-cell;
}
footer .fnav1, .fnav2 {
margin-left: auto;
margin-right: auto;
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
margin-bottom: 2px;
}
.fnav3 {
display: flex;
flex-direction: column;
}
}

@media screen and (max-width: 600px) {
footer .col-md-4 a, footer .col-md-4 img {
float: none;
}
.fnavimg {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
}
@media screen and (max-width:1200px) {
.top-contat-img img, .map img{
height:300px;
}
}
@media screen and (max-width:780px) {
.top-contat-img img, .map img{
height:250px;
}
}
@media screen and (max-width:680px) {
.top-contat-img img, .map img{
height:200px;
}
}
