@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Header Navbar */

.navbar {
width: 100%;
height: 64px;
background: #525252 0% 0% no-repeat padding-box;
}

.navbar-nav {
position: absolute;
right: 15px;
}
a {
color: #FFFFFF !important;
}

a:hover {
color: #FFFFFF !important;
}

.nav-item {
color: #FFFFFF !important;
}

.header-nav .navbar{
position: fixed;
}

.mobile-nav .navbar{
position: fixed;
}

.navbar .navbar-brand .header-logo {
max-height: 54px;
max-width: 73px;
position: absolute;
left: 15px;
top: 6px;
}

.fa-bars {
color: #007bff;
font-size: 30px;
}

.fa-bars:hover{
outline: 10px solid black;
}

.book{
width: 111px;
height: 40px;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
display: inline-flex;
justify-content: center;
margin-right: 10px;
}

.book1 {
font-size: 17px;
max-height: 20px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
margin-top: -2px;
}

.price {
width: 161px;
height: 40px;
background: #00607200 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
display: inline-flex;
justify-content: center;
margin-right: 27px;
}

.prices {
font-size: 17px;
max-height: 20px;
letter-spacing: 0px;
color: #FFFFFF;
margin-top: -2px;
}

.war {
max-width: 82px;
max-height: 20px;
color: #FFFFFF;
justify-content: space-around;
margin-right: 12px;
margin-top: -2px;
}

.war a:hover{
border: 1px solid #FFFFFF80;
border-radius: 20px;
}

.login {
width: 83px;
height: 40px;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
display: inline-flex;
justify-content: center;
margin-right: 10px;
}

.login1 {
font-size: 16px;
margin-top: -2px;
}

.become {
display: inline-flex;
justify-content: center;
width: 161px;
height: 40px;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
}

.helper {
font-size: 16px;
margin-top: -2px;
}

.become a:hover{
padding-top: 6px;
display: inline-flex;
justify-content: center;
color: #29626D !important;
width: 161px;
height: 40px;
background: white;
border: 1px solid #FFFFFF80;
border-radius: 20px;
}

.login a:hover{
padding-top: 6px;
width: 83px;
height: 40px;
background: white;
border: 1px solid #FFFFFF80;
color: #29626D !important;
border-radius: 20px;
display: inline-flex;
justify-content: center;
}


/* Mobile Navbar */

.mobile-nav{
display: none;
}

.bttn{
background-color: #525252 !important;
position: absolute;
right:20px;
}

.offcanvas-title{
font-size: 20px;
}

.hrr{
margin-top:-8px;
width:258px;
}

.offcanvas-body{
margin-top: 15px;
padding-left: 0 !important;
padding-right: 0px !important;
font-size: 20px;
font-family: Roboto;
color: #646464;
}

.header{
 position: absolute;
 right: 0;
}

.dash {
overflow: hidden;
background-color: white;
float: left;
font-family: Roboto;
}

.dash a {
padding-top: 8px;
padding-left: 12px;
display: block;
height: 45px;
color: #646464 !important;
text-align: left;
text-decoration: none !important;
margin-top:5px;
}

.dash a:hover {
background-color: rgb(240,240,240) !important;
font-weight: bold;
}

.dash .face{
display: flex; 
margin-left: 70px;
}
.dash .btn{
margin-left:10px;
}

.dash .btn:hover{
background-color: rgb(180,180,180);
cursor: pointer;
border-radius: 15px;
}

.activ{
font-weight: bold;
}

/* Mobile Navbar Queries */

@media screen and (max-width: 989px) {
.mobile-nav{
display: block;
}
.header-nav{
display: none;
}

.fa-bars {
color: white;
font-size: 30px;
margin-top: 0px;
margin-right: 0px;
}
a {
color: #646464 !important;
}
}


/* Top Image */

.top-contat-img img{
margin-top: 64px;
width: 100%;
height: 370px;
}


/* Contact */

.contact{
margin-top: 31px;
margin-left: auto;
margin-right: auto;
width: 174px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Medium;
font-size: 36px;
text-align: center;
}

.sepretor-bg{
position: relative;
margin-left: auto;
margin-right: auto;
}
.sepretor-bg::after,.sepretor-bg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 62px !important;
left:100px;
right:100px;
height: 1px;
background:#CCCCCC ;
top:45%;
}
.sepretor-bg::before{
left: 0;
}
.sepretor-bg::after{
right: 0;
}

.sepretor {
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
display: block;
width: 24px;
height: 25px;
position: relative;
margin-top: 9px;
}

.middle-part{
margin-left: auto;
margin-right: auto;
max-width: 971px;
height: 144px;
margin-top:53px;
}


.arrow-img{
margin-top:0px;
margin-left:auto;
margin-right: auto;
width: 34px;
height: 54px;
}

.arrow-img-des{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 237px;
height: 73px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Regular;
font-size: 16px;
text-align: center;
}

.touch{
margin-top: 74px;
margin-left: auto;
margin-right: auto;
width: 248px;
height: 34px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-family: Roboto-Bold;
font-size: 28px;
text-align: center;
}


/* Border */

.bottom-border{
margin-top: 49px;
margin-left: auto;
margin-right: auto;
width: 1140px;
height: 1px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}


/* Touch */

.touch-container{
margin-left: auto;
margin-right: auto;
margin-top:23px;
max-width: 614px;
height:390px;
position: relative;
}

.text{
float:left;
}
.texts{
float:right;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}

input[type=text]{
font-family: Roboto-Regular;
margin-bottom: 15px;
font-size: 16px;
padding-left: 15px;
padding-top: 14px;
padding-bottom: 13px;
border: 1px solid #C8C8C8;
border-radius: 4px;
background: #FFFFFF 0% 0% no-repeat padding-box;
width: 300px;
height: 46px;
}

#number{
width: 57px;
height: 46px;
}

.subject-img{
position: absolute;
top:10px;
right:15px;
width: 15px;
height: 8px;
}


#message{
width:100%;
height:146px;
}

#submit{
margin-bottom: 0;
margin-left: 225px;
width: 163px;
height: 46px;
background: #1D7A8C 0% 0% no-repeat padding-box;
border-radius: 23px;
font-family: Roboto-Bold;
font-size: 20px;
color: white;
}

.non{
display:none;
}

/* Map Image */

.map{
width: -webkit-fill-available;
margin-top: 80px;
}

/* Footer */

.nsletter {
height: 130px;
margin-top: 43px;
}

.nsletter h1 {
text-align: center;
font-size: 36px;
}

.nsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.nsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
font-family: Roboto-Regular;
}

.nsletter ::placeholder {
padding-left: 15px;
font-size: 14px;
width: 90px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.nsletter .news {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.nsletter .submit {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
padding-top: 9px;
padding-left: 18px;
}

.nsletter .submit p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}


.footers{
background-color: #111111;
margin-top: 53px;
}
.footer{
width: 100%;
padding-top: 20px;
padding-left: 8%;
padding-bottom: 20px;
}
.footer .logos{
width: 120px;
height: 92px;
}
.links {
padding-top: 2%;
}
.menu{
justify-content: center;
}
.menu a{
color: #F1F1F1;
font-size: 14px;
}
.menu a:hover, .icons .facebook:hover,  .icons .instagram:hover{
background-color: #006072;
}
    
.fi-logo {
padding-top: 2%;
}
.icons{
justify-content: center;
}
.icons .fb,  .icons .insta{
font-size: 18px;
color: #F1F1F1;
}
.policy {
padding-top: 23px;
padding-bottom: 5px;
text-align: center;
justify-content: center;
font-size: 14px;
color: #9BA0A3;
width: 100%;
background-color: #111111;
margin: 0px;
}
.footer h4{
padding-top:100px;
}
.footer .bottom-logo{
width: 200px;
margin-left: auto;
margin-right: auto;
}

.policy {
padding-top: 23px;
padding-bottom: 5px;
text-align: center;
justify-content: center;
font-size: 14px;
color: #9BA0A3;
border-top: 1px solid;
width: 100%;
background-color: #111111;
margin: 0px;
}
.policy p span{
color: #9BA0A3;
}
.policy p span a{
text-decoration: none;
}

/* Media Queries for all */


@media screen and (max-width:1600px) {
.top-contat-img img{
height:auto;
}
}

@media screen and (max-width:1200px) {
.sepretor-bg{
position: relative;
margin-left: auto;
margin-right: auto;
}
.sepretor-bg::after,.sepretor-bg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 39%;
height: 1px;
background:#CCCCCC ;
top:45%;
}   
}

@media screen and (max-width: 1180px) {
.bottom-border{
width:85%;
}
}
@media screen and (max-width: 1180px) {
.middle-part{
max-width: 900px;
}

}    
@media screen and (max-width: 955px) {
.middle-part{
max-width: 700px;
}
}   

@media screen and (max-width: 767px) {
.bottom-border{
margin-top:270px;
margin-top: 300px;
}
.middle-part{
max-width: 300px;
}
.touch-container{
margin-bottom: 70px;
}
.text{
float:none;
margin-left:auto;
}
.texts{
float:left;
margin-left:auto; 
}
.input-group{
max-width:600px;
margin-bottom: 15px;
}
input[type=text]{
width: 600px;
}
#message, #subject{
margin-left:auto;
width:600px !important;
}
.subject-img img{
left:500px !important;
}
#message-box{
margin-left: 120px;
margin-top: 20px;
margin-bottom: -10px;
}
.subject-img{
right:30px;
}
.map{
margin-top: 100px;
}
}


@media screen and (max-width: 660px) {
.input-group{
max-width:97%;
margin-right: 10px;
}
input[type=text]{
width:97%;
}
.text{
margin-left:10px;
}
.clearfix .texts{
display:none;
}

.non{
display:block;
}

#message, #subject{
margin-left: 10px;
width: 95%!important;
}
}

@media screen and (max-width: 600px) {
#submit{
position: absolute;
right:180px;
top:470px;
}
}

@media screen and (max-width: 450px) {
#submit{
right: 110px;
}
.nsletter input[type=text] {
width: 180px;
}
.nsletter ::placeholder {
padding-left: 10px;
}
}

@media screen and (max-width: 338px) {
#message, #subject{
width: 94%!important;
}
#number{
width:46px;
height: 45px;
}
}

@media screen and (max-width: 328px) {
#submit{
top:500px;
right:70px;
}
.map{
margin-top: 150px;
}
}

@media screen and (max-width: 362px) {
.middle-part{
width: 250px;
}
}

@media screen and (max-width: 360px) {
#message-box{
margin-left: 100px;
}
}

