@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Register Table */

.account{
margin-top: 90px;
height: 41px;
text-align: center;
letter-spacing: 0px;
color: #4f4f4f;
font-size: 36px;
font-family: Roboto;
font-weight: bold;
}

.sepretor-bg{
position: relative;
margin-left: auto;
margin-right: auto;
}
.sepretor-bg::after,.sepretor-bg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 75px;
left:115px;
right:115px;
height: 1px;
background:#CCCCCC ;
top:45%;
}

.sepretor-bg::before{
left: 0;
}

.sepretor-bg::after{
right: 0;
}

.sepretor {
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
display: block;
width: 24px;
height: 24px;
position: relative;
margin-top: 20px;
}

.form-start{
margin-top: 40px;
width: 630px; 
margin-left: auto; 
margin-right: auto;
}

.form-control{
width: 301px;
height: 40px;
border: 1px solid #dedddd;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}

.form-control::placeholder{
font-size: 16px;
color: #646464;
}

.checkbox{
margin-top: 2px;
display: flex;
}

input[type=checkbox]{
margin-top:2px;
width: 20px;
height: 20px;
}

label{
margin-left: 5px;
}

.register{
justify-content: center;
}

.register-bttn{
color: #FFFFFF !important;
background: #1d7a8c !important;
font-size: 16px;
text-align: center;
border-radius: 17px !important;
width:100px;
}

.login-now p{
text-align: center;
font-family: Roboto;
font-size: 16px;
}

.login-btn{
padding: 2px;
color: #1d7a8c !important;
text-decoration: none;
}

.login-btn:hover{       
color: #006072 !important;
font-weight: 500;
transition: 0.3s all;
text-decoration: none;
}


/* Media Queries for all */

@media screen and (max-width:767px) {
.form-start{
width: 100%; 
}

#number{
margin-bottom: 15px;
}
}
@media screen and (max-width:500px) {
.account{
font-size: 30px;
}
.sepretor {
margin-top: 10px;
}
}