@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Top Image */

.top-img img{
margin-top: 64px;
margin-left: 0px;
width: 100%;
height: 370px;
}

/* Faqs */


.faqs{
margin-top: 32px;
margin-left: auto;
margin-right: auto;
font-size: 36px;
font-family: Roboto-Medium;
text-align: center;
width: 84px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
}

.sepretor-bg{
position: relative;
margin-left: auto;
margin-right: auto;
}
.sepretor-bg::after,.sepretor-bg::before{
content: '';
position: absolute;
margin: auto;
height: 1px;
width: 62px;
left:100px;
right:100px;
height: 1px;
background:#CCCCCC ;
top:45%;
}
.sepretor-bg::before{
left: 0;
}
.sepretor-bg::after{
right: 0;
}

.sepretor {
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
display: block;
width: 24px;
height: 25px;
position: relative;
margin-top: 9px;
}


.faqs-main{
margin-top: 34px;
margin-bottom: 54px;
margin-left: auto;
margin-right: auto;
width: 931px;
height: 847px;
opacity: 1;
}

.faqs-des{
margin-top: 0px;
margin-left: auto;
margin-right: auto;
height: 48px;
text-align: center;
letter-spacing: 0px;
color: #646464;
opacity: 1;
}

.clean{
margin-top: 35px;
display: flex;
width: 100%;
height: 66px;
text-align: center;
}

.sp1{
width:50%;
border-bottom: 5px solid #1D7A8C;
line-height: 61px;
background: #1D7A8C;
font-size: 24px;
font-family: Roboto-Regular;
}

.sp2{
width:50%;
border-bottom: 5px solid #1D7A8C;
line-height: 61px;
background: #F6F6F6;
font-size: 24px;
font-family: Roboto-Regular;
}

.clearfix{
display: flex;
}

.des-img{
margin-top: 43px;
margin-left: 0px;
width: 22px;
height: 22px;
opacity: 1;
}

.des{
margin-top: 43px;
margin-left: 15px;
text-align: left;
letter-spacing: 0px;
color: #646464;
opacity: 1;
}

.des-bottom{
margin-top: 17px;
margin-left: 37px;
margin-bottom: 20px;
text-align: left;
letter-spacing: 0px;
color: #646464;
opacity: 1;;
}

.des-second-img{
margin-top: 2px;
margin-left: 0px;
width: 22px;
height: 22px;
opacity: 1;
}

.des-second{
margin-top: 2px;
margin-left: 15px;
text-align: left;
letter-spacing: 0px;
color: #646464;
opacity: 1;
}

.des-third{
margin-top: 37px;
margin-left: 15px;
text-align: left;
letter-spacing: 0px;
color: #646464;
opacity: 1;

}

.des-third-img{
margin-top: 37px;
margin-left: 0px;
width: 22px;
height: 22px;
opacity: 1;
}


/* Footer */

.nsletter {
height: 130px;
margin-top: 54px;
}

.nsletter h1 {
text-align: center;
font-size: 36px;
}

.nsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.nsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
font-family: Roboto-Regular;
}

.nsletter ::placeholder {
padding-left: 15px;
font-size: 14px;
width: 90px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.nsletter .news {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.nsletter .submit {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
padding-top: 9px;
padding-left: 18px;
}

.nsletter .submit p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}


/* Media Queries for all */

@media screen and (max-width:1600px) {
.top-img img{
height:auto;
}
}

@media screen and (max-width: 964px) {
.faqs-main{
width: 100%;
}
}

@media screen and (max-width: 901px) {
.nsletter {
margin-top:250px;
}
.des-img{
margin-top: 43px;
}
.des{
margin-top: 43px;
}
.des-bottom{
margin-top: 17px;
}
.des-second-img{
margin-top: 0px;
}
.des-second{
margin-top: 0px;
}
.des-third{;
margin-top: 25px;
}
.des-third-img{
margin-top: 25px;
}
}


@media screen and (max-width: 800px) {
.nsletter {
margin-top:300px;
}
}

@media screen and (max-width: 623px) {
.nsletter {
margin-top:360px;
}
.sp1{
font-size: 20px;
}

.sp2{
font-size: 20px;
}
}

@media screen and (max-width: 543px) {
.nsletter {
margin-top:400px;
}
.sp1{
font-size: 16px;
}

.sp2{
font-size: 16px;
}
}

@media screen and (max-width: 507px) {
.nsletter {
margin-top:620px;
}
}

@media screen and (max-width: 466px) {
.nsletter {
margin-top:660px;
}
}

@media screen and (max-width: 394px) {
.nsletter {
margin-top:775px;
}
.sp1{
font-size: 13px;
}
.clean{
margin-top: 50px;
}

.sp2{
font-size: 12px;
}
.nsletter input[type=text] {
width:180px;
}
}

@media screen and (max-width: 338px) {
.nsletter {
margin-top:1050px;
}
.clean{
margin-top: 75px;
}
}

@media screen and (max-width: 308px) {
.nsletter {
margin-top:1100px;
}
}