@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


 /* Registration Form */

#bg{
background-image: url('../image/become-a-pro-banner.png'); 
background-size: cover; 
}

.form-start{ 
padding-top: 152px;
}
  
.reg-hd{
margin-left: auto;
margin-right: auto;
background-color: #fff;
max-width:430px;
box-shadow: 0px 0px 16px #00000026;
}

.card h1{
padding-top: 19px;
padding-bottom: 24px;
font-size: 24px;
font-weight: bold;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
}


.form-control{
max-width: 359px;
height: 46px;
border: 1px solid #C8C8C8;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}

.form-control::placeholder{
height: 19px;
font-size: 16px;
color: #A0A0A0;
}

.form-check{
max-width: 359px;
height: 46px;
margin-left: auto;
margin-right: auto;
}

.number{
max-width: 359px;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}

.form-check-input {
margin-top: 0rem;
max-width: 20px;
height: 20px;
}

.form-check-label{
margin-left: 7px;
}


.form-check-label a{
color: #1FB6FF !important;
}

.sub-bttn{
margin-left: auto;
margin-right: auto;
max-width: 166px;
}

.sub-bttns{
height:46px;
font-weight: bold;
font-size: 16px;
color:#FFFFFF !important;
background-color: #1D7A8C !important;
border-radius: 23px !important;
}

.right-arrow{
max-width: 30px;
margin-left: 8px;
height: 11px;
}
  
.down-bttn1 {
padding-top: 54px;
padding-bottom: 8%;
position: relative;
padding-left: 50%;
}

.round1 {
bottom:50px;
width: 40px;
height: 40px;
position: absolute;
}

.download2 {
padding-top: 7px;
padding-bottom: 5px;
padding-left: 12px;
padding-right: 12px;
position: absolute;
width: 16px;
height: 20px;
bottom:70px;
}

.round1:hover{
background: #006072;
width: 40px;
border-radius: 50%;
height: 40px;
border: 1px solid #ffffff;
}


/* Middle Part*/

.middle-part{
width: 100%;
display: flex;
justify-content: space-between;
}

.left-image{
height: 1196px;
background-repeat: no-repeat;
width: 188px;
}

.right-image{
height: 1196px;
width: 188px;
background-repeat: no-repeat;
}

.work-main{
margin-top: 68px;
margin-left:auto;
margin-right: auto;
}

.work{
margin-left: auto;
margin-right: auto;
width: 232px;
height: 48px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 39px;
font-family: Roboto;
font-weight: bold;
}

#work{
display: flex;
}
.reg{
margin-top: 108px;
width: 276px;
height: 29px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
margin-left:0;
font-family: Roboto;
font-weight:Bold;
font-size: 29px;
}

.reg-des{
margin-top: 16px;
font-family: Roboto;
font-size: 18px;
width:364px;
height:42px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
}

.read{
margin-top:48px;
width: 87px;
height: 22px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 18px;
}

#reg{
margin-left: 126px;
}

#reg1{
margin-top:73px;
margin-left: 126px;
}

.first-img{
width: 260px;
height: 260px;
margin-left:125px;
margin-top: 60px;
}

#first{
margin-left:0px;
margin-top: 20px;
}

#reg2{
margin-top:71px;
}

#second{
margin-top:20px;
}

#right-arrow1, #right-arrow2, #right-arrow3{
width: 29px;
margin-top:55px;
margin-left:10px;
height: 9px;
}


/* Footer */

.nsletter {
height: 130px;
margin-top: -127px;
}

.nsletter h1 {
text-align: center;
font-size: 36px;
}

.nsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.nsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
padding-left: 20px;
font-family: Roboto-Regular;
}

.nsletter ::placeholder {
font-size: 14px;
width: 90px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.nsletter .news {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.nsletter .submit {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
padding-top: 8px;
padding-left: 20px;
}

.nsletter .submit p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}

.nsletter .submit:hover{
background-color: #006072;
transition: all 0.5s ease;
}

.footers{
background-color: #111111;
margin-top: 53px;
}

footer {
margin-top: 30px;
background-color: #111111;
overflow: hidden;
}

.bottom-first {
margin-top: 20px;
margin-left: 115px;
}

.bottom-logo{
width: 120px;
height: 92px;
}

.bottom-middle {
margin:auto !important;
}

.nav-bottom {
width: 582px;
text-align: left;
letter-spacing: 0px;
color: #F1F1F1;
display: flex;
height: 43px;
}

.nav-bottom a{
color: white;
font-size: 14px;
padding-top: 10px;
}

.nav-bottom a:hover {
color: white;
background-color: teal;
}

.nav-last {
justify-content: center;
}

.nav-last a:hover {
color: white;
background-color: teal;
}

footer hr {
margin-left: 120px;
margin-right: 120px;
border-top: 1px solid #424242;
}

.privacy {
margin-bottom: 22px;
margin-top: 25px;
width: 240px;
text-align: center;
color: #9BA0A3;
font-size: 14px;
}

.term {
padding-left: 10px;
display: inline-block;
}

.term:hover{
cursor: pointer;
color: blue;
}

/*  Media Queries  for Footer */

@media screen and (max-width:1250px) {
.bottom-logo {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
 }
}

@media screen and (max-width: 950px) {
.bottom-logo{
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
}
footer .bottom-first .img {
width: 60px;
height: 42px;
}
footer .nav-bottom {
margin-left: auto;
margin-right: auto;
display: table-cell;
}
footer .bottom-first, .nav-bottom {
margin-left: auto;
margin-right: auto;
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
margin-bottom: 2px;
}
.nav-last {
display: flex;
flex-direction: column;
}
}

@media screen and (max-width: 600px) {
footer .col-md-4 a, footer .col-md-4 img {
float: none;
}
.bottom-logo{
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
}
}


/*  Media Queries  for all */

@media screen and (max-width: 1150px) {
.right-img img{
margin-left: -50px;
}
}

@media screen and (max-width: 1100px) {
.middle-part .left-img img{
width: 120px !important;
}
.middle-part .right-img img{
width: 120px !important;
}
}

@media screen and (max-width: 1050px) {
.middle-part .left-img img{
width: 100px !important;
}
.middle-part .right-img img{
width: 100px !important;
}
.work{
width: 250px;
font-size: 40px;
}
.reg{
width: 280px;
font-size: 28px;
margin-left: 40px;
}
.reg-des{
font-size: 16px;
width:300px;
margin-left: 40px;
}
.read{
margin-top: 20px;
margin-left: 40px;
width: 75px;
font-size: 15px;
}
#first{
margin-left: 60px;
}
#reg1, #reg{
margin-left: 60px;
}
#right-arrow1{
margin-top: 25px; 
}
#right-arrow2{
margin-top: 26px; 
}
#right-arrow3{
margin-top: 26px; 
}
.first-img img{
width: 240px;
margin-left:-40px;
margin-top: 30px;
}
}

@media screen and (max-width: 898px) {
.work{
width: 250px;
}
.reg{
width: 250px;
font-size: 24px;
}
.reg-des{
font-size: 14px;
width:270px;
}
.read{
margin-top: 15px;
}

#right-arrow1{
margin-top: 21px; 
}
#right-arrow2{
margin-top: 22px; 
}

#right-arrow3{
margin-top: 22px; 
}
.first-img img{
width: 220px;
}
 .middle-part .left-img{
display: none;
}
.middle-part .right-img{
display: none;
}
.nsletter{
margin-top:80px;
}
.round1 {
bottom:30px;
}
.download2 {
bottom:50px;
}
}

@media screen and (max-width: 768px) {
.work{
margin-left:auto;
margin-right: auto;
margin-bottom: -50px;
}
.work-main{
margin-left: auto;
margin-right: auto;
width:230px;
}
#work{
display: flex;
flex-direction: column;
}
.read{
margin-top:5px;
margin-left: -10px;
}
#right-arrow1{
margin-top: 11px; 
}
#right-arrow2{
margin-top: 22px; 
}

#right-arrow3{
margin-top: 12px; 
}
#ar{
margin-top:18px !important;
}
.first-img img{
margin-top: -30px;
margin-left:-140px;
width:250px;
}
#reg1{
margin-top: -470px;
margin-left: -10px;
}
#reg2{
margin-top:20px;
margin-left: -10px;
}
.reg{
margin-left: -10px;
}
.reg-des{
margin-left: -10px;
}

#first{
margin-top:240px;
margin-left: 125px;
}
#reg{
margin-left: -10px;
margin-top: 15px;
}
#bt-read{
margin-bottom: 50px;
}
.nsletter{
margin-top:50px;
}
}

@media screen and (max-width: 567px) {
.work-main{
width:300px;
}
.round1 {
bottom:10px;
}
.download2 {
bottom:30px;
}
.down-bttn1{
padding-bottom: 50px;
}
}

@media screen and (max-width: 494px) {
.work-main{
margin-right:185px;
width:200px;
}
}

@media screen and (max-width: 440px) {
.work{
font-size: 25px;
margin-left: 100px;
}
.work-main{
width:180px;
margin-left:-40px;
}
.reg{
width: 180px;
font-size: 18px;
margin-left: 100px;
margin-top:80px;
}

.reg-des{
margin-top: 10px;
margin-left:100px;
}
#reg2{
margin-top: 40px;
}
.read{
margin-left: 100px;
width: 80px;
font-size: 12px;
}
#right-arrow1,{
margin-top: 50px;
}
#right-arrow2{
margin-top:30px;
}
#right-arrow3{
margin-top: 20px;
}
.first-img img{
margin-left:-20px;
width: 200px;
}
#reg1{
margin-left: 100px;
margin-top: -480px;      
margin-bottom: -20px;    
}
#first{
margin-top: 140px;      
}
#reg{
margin-left: 100px;
margin-top: 30px;
}
#reg2{
margin-top:-80px;
margin-left: 100px;
}
#bt-read{
margin-bottom: 60px;
}
.nsletter{
margin-top:-10px;
}
.nsletter input[type=text] {
width: 180px;
}
}

@media screen and (max-width: 375px) {
.work-main{
width:180px;
margin-left:-48px;
}
}

@media screen and (max-width: 359px) {
.work-main{
margin-left:-75px;
}
}

@media screen and (max-width: 332px) {
.work-main{
width:170px;
margin-left:-86px;
}
}
