
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Vertical Navbar */

.middle-table{
margin-left: 15px;
margin-right: 15px;
margin-top: 31px;
}

.middle{
display:flex;  
justify-content: center;
flex-wrap: nowrap;
}

.vertical-nav{
width: 300px;
height:auto;
margin:0px 15px 0px 0px;
background-color: #1d7a8c;
}

.vertical-nav .list-group-item{
border:2px solid #2f8f9f;
background-color: #1d7a8c;
border-color: #2f8f9f;
font-family: Roboto;
font-size: 18px;
font-weight: normal;
line-height: 2;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
}

.vertical-nav .list-group a:hover{
background-color: #146371 !important;
cursor: pointer;
border-color: #2f8f9f;
}

.vertical-nav .active{
background-color: #146371 !important;
}

.service-history{
margin-bottom: 20px;
height: 27px;
text-align: left;
letter-spacing: 0px;
color: #646464;
font-size: 22px;
font-family: Roboto;
}

.export{
position: absolute;
right: 40px;
top:200px;
height: 34px;
background: #146371 0% 0% no-repeat padding-box !important;
border-radius: 17px !important;
font-size: 14px !important;
font-family: Roboto;
color:white !important;
}

/* Vertical Table */

#middle-table{
width: 79%;
padding: 1px 0 22px;
margin-top: 0px;
height:auto;
border: 1px solid #e1e1e1;
background-color: #ffffff;
border-collapse: collapse;
border-top:none;
border-left: none;
border-right: none;
}

#middle-table thead{
height: 49px;
margin: 0 2px 0 1px;
padding: 18px 37px 15px 18px;
background-color: #f9f9f9;
}

#middle-table th{
width:119px;
height: 12px;
border-top:none;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
}

#middle-table th img{
margin-left:9px;
width: 14px;
height: 14px;
}

#middle-table tr td{
height: 86px;
font-family: Roboto;
font-size: 16px;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
}

#middle-table tr{
border-left: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
}

.calendar{
margin-right:7px;
margin-left: 5px;
width: 16px;
height: 16px;
margin-bottom: 8px;
}

.times{
margin-left: 5px;
}

.pay {
width: 37px;
height: 17px;
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
}

.pay1 {
font-size: 20px;
}

.pay2 {
font-size: 24px;
}

.center{
text-align: center !important;
}

.rate-sp{
margin-top: 15px;
width: auto;
height: auto;
background: #6DA9B5 0% 0% no-repeat padding-box !important;
border-radius: 25px !important;
font-size: 14px;
color: white !important;
}

.round, .round1{
width: 40px;
height: 40px;
margin-right:8px;
padding: 12px 7px;
border: solid 1px #aaa;
background-color: white;
border-radius: 50%;
margin-bottom: -18px;
}

.time{
margin-left:40px;
}

input[type=button]{
font-size: 13px;
font-family: Roboto;
}

#number{
margin-left: 275px;
}

.labl{
margin-left: 10px;
}

.form{
margin-top:15px;
color: #646464;
font-size: 14px; 
font-family: Roboto;
border-radius: 4px;
}
.flex{
display:flex;
flex-wrap: nowrap;
}


#act{
background: #1D7A8C 0% 0% no-repeat padding-box;
color:white;
}

/* Card Section */

.bottom-show{
display: none;
}

.historys{
font-size: 25px;
color: #646464;
margin-left:20px;
margin-top: 25px;
}

.export1{
position: absolute;
right: 10px;
top:215px;
background: #146371 0% 0% no-repeat padding-box !important;
border-radius: 17px !important;
font-size: 14px !important;
font-family: Roboto;
color:white !important;
}

.card1{
display: none;
margin-bottom: 50px;
}
.cards{
margin:40px 12px 0px 12px;
}

.card-text{
padding:0px 10px 0px 10px !important;
font-family: Roboto;
font-size: 16px;
color: #646464;
vertical-align: middle;
}
.calendars{
margin-right: 7px;
}

.clocks{
margin-left: 12px;
margin-right: 5px;
}

.rate-sp1{
background: #6DA9B5 0% 0% no-repeat padding-box !important;
width:90px;
height: 35px;
border-radius: 17px !important;
font-size: 14px;
color: white !important;
}

.card button{
background-color: #ff6b6b;
color: #ffffff !important;
padding: 2px;
}

.completed2{
color: #FFFFFF !important;
background: #67B644 !important;
padding:3px 8px 3px 8px !important; 
font-size: 14px !important;
margin-top: 0px;
}

.pays {
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
}

.pay4 {
font-size: 24px;
}

.pay3 {
font-size: 28px;
}


/* rate modal */

#warning{
color: #646464;
font-family: Roboto;
margin-left: 12px;
color: #646464;
font-size: 26px;
}

#cancel-border{
border-bottom: none;
}

#rate-modal .close{
font-size: 40px;
}

.time-warning{
font-size: 20px;
font-family: Roboto;
color: #646464;
}

.star3{
font-size: 23px;
color: #ECB91C;
}
.star4{
font-size: 23px;
color: #D4D4D4;
}

.book-flex1{
display: flex;
margin-bottom: 20px;
}

.time{
margin-left: 40px;
}

.time-bottom{
margin-top: 2px;
}

#time1{
margin-left: 63px;
}
#time2{
margin-left: 123px;
}

#four{
font-size: 25px; 
margin-left: 10px;
}

.round-main{
margin-bottom: 20px;
}

.rate-hr{
margin-top: -10px !important; 
height: 2px; 
margin-left: 25px;
margin-right: 25px;
}

.star-fa{
margin-left: 80px;
}

#feedback{
margin-top: 10px;
width: 100%;
height: 90px;
border: none;
border: 2px solid #e1e1e1;
}

.btn-login2 ,.btn-login2:focus{
height: 50px;
width: 30% !important;
font-size: 20px !important;
font-weight: medium;
background-color: #006072 !important;
opacity: 0.6;
border-radius: 30px !important;
color: #ffffff !important;
border: solid 1px rgba(255, 255, 255, 0.5);
}

.btn-login2:hover{
opacity: 1;
}

.round5{
width: 70px;
height: 70px;
margin-right:8px;
padding: 15px 10px;
border: solid 1px #aaa;
background-color: white;
border-radius: 50%;
margin-bottom: -18px;
}

.provider_name{
margin-left: 10px; 
font-size: 25px;
}

  
.welcome{
height: 118px;
margin-top: 64px;
padding-top: 39px;
text-align: center;
font-size: 30px;
font-family: Roboto;
letter-spacing: 0px;
color: #4F4F4F;
background: #F9F9F9 0% 0% no-repeat padding-box;
}

.hr{
height: 1px;
background-color: #e1e1e1;
}

/* schedule modal */

#service_details{
color: #646464;
font-family: Roboto;
margin-left: 12px;
color: #646464;
font-size: 24px;
}

#cancel-border{
border-bottom: none;
}

#schedule-modal .close{
font-size: 40px;
}

#cancel{
padding-top: 5px;
}

.service-warning{
font-size: 25px;
font-family: Roboto;
color: #646464;
font-weight: bold;
}

.service-duration{
margin-top: 5px;
font-size: 19px;
font-family: Roboto;
color: #646464;
font-weight: bold;
}

.duration{
font-weight: normal;
margin-left: 5px;
}

.amount{
margin-left: 30px;
font-size: 25px;
color: #1D7A8C;
}

#duration{
margin-left: 10px;
margin-top: 5px;
font-size: 18px;
font-family: Roboto;
color: #646464;
}

.duration i{
color: red;
font-size: 25px;
}

.btn-login1 ,.btn-login1:focus{
height: 50px;
width: 40% !important;
font-size: 20px !important;
font-weight: medium;
background-color: #006072 !important;
opacity: 0.6;
border-radius: 30px !important;
color: #ffffff !important;
border: solid 1px rgba(255, 255, 255, 0.5);
}

.btn-login1:hover{
opacity: 1;
}

#login-1{
background-color: red !important;
width: 30% !important;
margin-left: 10px;
}

.book-flex i{
margin-right: 12px;
font-size: 20px;
}

.book-flex{
display: flex;
}

.dashboard:hover{
cursor: pointer;
}

.pay {
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
}

.pay1 {
font-size: 24px;
}

.pay2 {
font-size: 24px;
}

.pays {
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
font-size: 24px;
}

.save{
margin-right: 10px;
background-color: #1d7a8c;
color: #fff;
width: 105px;
height: 35px;
padding: 5px;
border:none;
font-family: Roboto;
border-radius: 17px;
}

.homes{
margin: 0px 10px 0px 7px;
}

.mydivs{
display: flex;
color: #646464;
}

/* Star */

.time_star{
margin-left: 45px;
font-size: 16px;
}

.star1{
font-size: 16px;
color: #ECB91C;
}
.star2{
font-size: 16px;
color: #D4D4D4;
}
.form select{
width: 50px;
height: 30px;
border:1px solid rgb(200,200,200);
}
*{
    margin: 0;
    padding: 0;
}
.rate {
  margin-top: -13px;
  margin-left: 30px;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rates {
  margin-top: -13px;
  margin-left: 90px;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rates:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rates:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rates:not(:checked) > label:before {
    content: '★ ';
}
.rates > input:checked ~ label {
    color: #ffc700;    
}
.rates:not(:checked) > label:hover,
.rates:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rates > input:checked + label:hover,
.rates > input:checked + label:hover ~ label,
.rates > input:checked ~ label:hover,
.rates > input:checked ~ label:hover ~ label,
.rates > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate1 {
  margin-top: -13px;
  float: left;
  margin-left: 8px;
    height: 46px;
    padding: 0 10px;
}
.rate1:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate1:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate1:not(:checked) > label:before {
    content: '★ ';
}
.rate1 > input:checked ~ label {
    color: #ffc700;    
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.cancel1{
color: #FFFFFF !important;
background: #FF6B6B !important;
width:auto;
margin-top: 15px;
padding:3px 8px 3px 8px !important; 
height:auto; 
font-size: 13px !important;
}

.completed1{
color: #FFFFFF !important;
background: #67B644 !important;
width:auto;
margin-top: 15px;
padding:3px 8px 3px 8px !important; 
height:auto; 
font-size: 13px !important;
}

.round_modals {
width: 50px;
height: 50px;
margin-right:8px;
padding: 12px 7px;
border: solid 1px #aaa;
background-color: white;
border-radius: 50%;
margin-bottom: -18px;
}

.time_modals{
margin-left:50px;
}

.star1_modals{
font-size: 19px;
color: #ECB91C;
}
.star2_modals{
font-size: 19px;
color: #D4D4D4;
}

.border_provider{
border: 1px solid #eee; 
width:1px; 
height:auto; 
margin-left: 2%; 
margin-top:5%; 
margin-bottom:10%;
}

.Provider_Modals{ 
margin-top:25%; 
font-size: 18px;
margin-left: auto; 
margin-right:auto;
}
.right_provider{
display:flex;
}
.right_provider_width{
width:70%;
}

@media screen and (max-width: 989px) {
.right_provider_width{
width: 100%;
}
.border_provider, .Provider_Modals{
display: none;
}
}

/* Media Queries */


@media screen and (max-width: 1162px) {
.vertical-nav{
width: 250px;
}
.middle-table{
margin-left: 0px;
}
.service-history{
font-size: 20px;
}
}

@media screen and (max-width: 1095px) {
.vertical-nav{
width: 230px;
}

.service-history{
font-size: 20px;
}
}

@media screen and (max-width: 1077px) {
.service-history{
font-size: 18px;
}
.export{
font-size: 12px;
}

#middle-table{
width: 864px;
}

#middle-table th{
font-size: 14px;
}

#middle-table th img{
margin-left:8px;
}

#middle-table tr td{
font-size: 13px;
}

.pay1 {
font-size: 17px;
}

.pay2 {
font-size: 20px;
}

.completed{
font-size: 13px !important;
}

.completed1{ 
font-size: 13px !important;
}

.rate-sp{
font-size: 13px;
}

input[type=button]{
font-size: 18px;
}

.form{
font-size: 10px; 
}
}

@media screen and (max-width: 1058px) {
.service-history{
font-size: 14px;
}
}

@media screen and (max-width: 991px) {
.middle{
display:block;
}
.middle-table{
margin-left: 15px;
}
.vertical-nav{
display: none;
}
#middle-table{
margin-top:20px;
margin-left: auto;
margin-right: auto;
}
.service-history{
font-size: 12px;
}
.bottom-show{
display: block;
}
.bottom-tav-show{
display: none;
}
.export{
top:230px;
}
}

@media screen and (max-width: 980px) {
#middle-table{
margin-left: 10px;
width: 98%;
overflow-x: auto;
overflow-y: hidden;
}
.middle-table{
margin-top: 70px;
margin-bottom: 50px;
}
#middle-table .table{
min-width: 797px;
}
#middle-table tr td{
height: 80px;
}

.form{
margin-top:-5px;
}
}

@media screen and (max-width: 767px) {
.card1{
display: block;
}
.middle-table{
display: none;
}
#number{
margin-left: 150px;
}
.time{
margin-left: 45px;
}
.cancel1{
padding:3px 8px 5px 8px !important; 
}

.completed1{
padding:3px 8px 5px 8px !important; 
}
}

@media screen and (max-width: 668px) {

#number{
margin-left: 0px !important;
margin-top: 40px;
}
}


@media screen and (max-width: 520px) {
#middle-table{
width: 96%;
}
}
