@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Login modal */

.modal-header{
border-bottom: none !important;
padding-bottom: 1px !important;
}

.modal-title{
margin-left: 10px;
font-size: 30px;
}

.form-control{
height: 50px;
}

#login,#password{
position: relative;
}

.mail {
top: 50px;
position: absolute;
right: 50px;
}

.locks {
top: 116px;
position: absolute;
right: 50px;
}
.checkbox{
display: flex;
}

input[type=checkbox]{
margin-top: 2px;
width: 20px;
height: 20px;
}

label{
margin-left: 10px;
}

.form-control::placeholder{
font-size: 18px;
color: #646464;
}

.btn-login ,.btn-login:focus{
height: 50px;
font-size: 20px !important;
font-weight: medium;
background-color: #006072 !important;
opacity: 0.6;
border-radius: 30px !important;
color: #ffffff !important;
border: solid 1px rgba(255, 255, 255, 0.5);
}

.btn-login:hover{
opacity: 1;
}

.forgot-password,.creat-account{
color: #1d7a8c !important;
font-size: 19px;
text-decoration: none;
}

.footer {
justify-content: center;
display: grid;
text-align: center;
}

.footer p{
font-size: 19px;
}

.forgot-password:hover,.creat-account:hover{
text-decoration: none;
font-weight: 500;
color: #006072 !important;
}

#creat-account{
margin-top: -10px;
}

@media screen and (max-width: 575px) {
.modal-body{
padding-left: 7px !important;
padding-right: 7px !important;
}
.modal-title{
margin-left: 7px;
}
#forgot{
font-size: 25px;
}
}

/* Helperland */

.helperland{
margin-left:auto;
margin-right: auto;
width: 1119px;
height: 780px;
}

.helperland-title h2{
margin-top: 79px;
margin-left:auto;
margin-right: auto;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 40px;
font-family: Roboto;
}

.helperland-img img{
width: 320px;
height: 320px;
margin-top: 82px;
}

.helperland-img-title h4{
margin-top: 33px;
height: 73px;
font-size: 30px;
font-family: Roboto;
font-weight: bold;
text-align: center;
letter-spacing: 0px;
color: #565656;
  }

.helperland-img-title p{
margin-top:29px;
font-size: 17px;
font-family: Robot;
text-align: center;
letter-spacing: 0px;
color: #565656;
  }


  /*lorem style*/


.lorem-main{
margin-top: 170px;
  } 

.inner{
margin-left: auto;
margin-right: auto;
width: 1162px;
height: 929px;
}

 .lorem h2{
margin-top: 36px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 30px;
font-family: Roboto;
font-weight: bold;
 }

 .lorem-bottom {
margin-top: 8px;
font-size: 18px;
font-family: Roboto;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
 }

 .lorem-bottom p{
  margin-left: 2px;
 }

.lorem-right{
float: right;
margin-top: 0px;
 }

.lorem-left1, .lorem-left{
margin-top: -63px;
}

/* our blog style*/

.blog-title{
margin-top: 30px;
margin-left: auto;
margin-right: auto;
font-size: 40px;
font-family: Roboto;
font-weight: bold;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
}

.blog-main{
margin-top: 64px;
margin-left: 2px;
width: 357px;
height: 367px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #E4EBF0;
border-radius: 4px;
}

.blog-image img{
width: 357px;
height: 164px;
}

.blog-image-title{
margin-top: 12px;
margin-left: 19px;
text-align: left;
letter-spacing: 0px;
color: #3D4046;
font-family: Roboto;
}

.blog-image-text{
margin-left: 20px;
font-size: 16px;
font-family: Roboto;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.image-bottom{
margin-top: 3px;
margin-left: 19px;
float:left;
height: 21px;
font-size:18px;
font-family: Roboto;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
}

.icon-img{
 margin-top: 3px;
margin-left: 10px;
float:left;
}


/* Customer */

.customer{ 
width: 100%;
height: 908px;
background: #F4F5F8 0% 0% no-repeat padding-box;
}

 .customer-title{
padding-top: 57px;
margin-left: auto;
margin-right: auto;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 40px;
font-family: Roboto;
 }  

 .customer-main1{
margin-top: 57px;
margin-left:auto;
margin-right: auto;
width:1158px;
height:370px;
 }

 .customer-main{
position: relative;
width: 357px;
background-color: white;
height: 370px;
border-left:2px solid #1d7a8c;
}

.messages{
position: absolute;
top:10px;
right: 10px;
width: 33px;
height: 36px;
}

 .customer-img{
margin-top: 43px;
margin-left: 38px;
width: 70px;
height: 70px;
float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.customer-img-title{
font-family: Roboto;
margin-top: 55px;
margin-left: 17px;
text-align: right;
letter-spacing: 0px;
color: #4F4F4F;
float:left;
}
.customer-img-title h6{
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}

.customer-img-title p{
font-family: Roboto;
padding-top:5px;
margin-right: 30px;
}

.customer-bottom{
margin-top: 25px;
font-family: Roboto;
margin-left: 38px;
width: 295px;
height: 233px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}


/* Footer */

.nsletter {
height: 130px;
margin-top: 51px;
position: relative;
}

.nsletter h1 {
text-align: center;
font-size: 36px;
}

.whatsapp{
position: absolute;
top: 10px;
right: 72px;
width: 63px;
height: 63px;
}

.arrow1{
position: absolute;
top: 10px;
left: 70px;
width: 48px;
height: 48px;
background: #525252;
border-radius: 48px;
padding-top:10px;
}


.nsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.nsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
font-family: Roboto-Regular;
}

.nsletter ::placeholder {
padding-left: 15px;
font-size: 14px;
width: 90px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.nsletter .news {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.nsletter .submit {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
padding-top: 9px;
padding-left: 18px;
}

.nsletter .submit p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}

.footers{
background-color: #111111;
margin-top: 53px;
}

footer {
margin-top: 30px;
background-color: #111111;
overflow: hidden;
}

.bottom-first {
margin-top: 20px;
margin-left: 115px;
}

.bottom-logo{
width: 120px;
height: 92px;
}

.bottom-middle {
margin:auto !important;
}

.nav-bottom {
width: 582px;
text-align: left;
letter-spacing: 0px;
color: #F1F1F1;
display: flex;
height: 43px;
}

.nav-bottom a{
color: white;
font-size: 14px;
}

.nav-bottom a:hover {
color: white;
background-color: teal;
}

.nav-last {
justify-content: center;
}

.nav-last a:hover {
color: white;
background-color: teal;
}

footer hr {
margin-left: 120px;
margin-right: 120px;
border-top: 1px solid #424242;
}

.privacy {
position: relative;
margin-bottom: 22px;
margin-top: 25px;
width: 240px;
text-align: center;
color: #9BA0A3;
font-size: 14px;
}

.ok-btn{
position: absolute;
bottom: 0px;
padding-top: 9px;
color: black;
right: 20px;
width: 99px;
height: 40px;
background: #EED507 0% 0% no-repeat padding-box;
border-radius: 20px;
}

.term {
padding-left: 10px;
display: inline-block;
}

/*  Media Queries  for Footer */

@media screen and (max-width:1250px) {
.bottom-logo {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
 }
}

@media screen and (max-width: 950px) {
.bottom-logo{
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
}
footer .bottom-first .img {
width: 60px;
height: 42px;
}
footer .nav-bottom {
margin-left: auto;
margin-right: auto;
display: table-cell;
}
footer .bottom-first, .nav-bottom {
margin-left: auto;
margin-right: auto;
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
margin-bottom: 2px;
}
.nav-last {
display: flex;
flex-direction: column;
}
}

@media screen and (max-width: 600px) {
footer .col-md-4 a, footer .col-md-4 img {
float: none;
}
.bottom-logo{
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
}
}

/* Media Queries For all */


@media screen and (max-width: 1250px) {
.lorem-left img, .lorem-left1 img{
display: none;
}
.lorem-main{
width: 96%;
margin-left: 15px;
}
 .customer{
width: 100%;
}
 .customer-main1{
width: 95%;
}
}

@media screen and (max-width: 1190px) {
.bg-img .svg-imges {
width: 800px;
}
.helperland {
width: 90%;
height: 730px;
}
.lorem-main{
width: 94%;
margin-top: 0px;
margin-left: 25px;
}
.inner{
width: 100%;
}
.helperland-img img{
width: 240px;
height: 240px;
}
.helperland-img-title h4{
font-size: 25px;
}
.helperland-img-title p{
font-size: 15px;
}
.lorem h2{
margin-top: 25px;
}
 .lorem-bottom {
font-size: 15px;
 }
.lorem-right img{
width:330px;
height: 290px;
 }
 .blog-image img{
width: 310px;
}
.blog-main{
width: 310px;
}
.blog-image-text p{
width: 98%;
}
 .customer-main{
width: 357px;
background-color: white;
height: 370px;
}
 .customer-main{
width: 320px;
margin-left: 10px;
}
.customer-bottom{
margin-left: 12px;
}
}

@media screen and (max-width: 1038px) {
.customer-main1{
margin-left: 5px;
}
}

@media screen and (max-width:992px){
.svg-imges .row .col-lg-3:nth-child(odd) .svg:before {
display: none;
}
}

@media screen and (max-width: 991px) {
.blog-main{
width: 100%;
height: 580px;
margin-left: 5px;
margin-bottom: -30px;
}
.blog-image img{
width: 100%;
height: 350px;
}
.blog-image-title{
margin-top: 12px;
margin-left: 19px;
}
.blog-image-text{
margin-left: 20px;
font-size: 16px;
}
.customer{ 
margin-top: 1430px;
width: 100%;
height: 1550px;
}
 .customer-title{
font-size: 40px;
}  
.customer-main{
margin-bottom: 15px;
width: 98%; 
height: 370px;
}
.customer-main1{
margin-left: 20px;
}
.nsletter{
margin-top: 820px;
}
.customer-bottom{
margin-left: 38px;
width: 90%;
}
.ipsum-text {
margin-top: -190px;
}
.bg-img ul{
margin-bottom: 50px;
}
.whatsapp{
right: 20px;
}
.arrow1{
left:20px;
}
}

@media screen and (max-width: 880px) {
.bg-img .svg-imges {
max-width: 600px;
}
.blog-image img{
width: 100%;
height: 300px;
}
.helperland {
margin-left: 20px;
}
.helperland-img-title p{
font-size: 13px;
}
.down-bttn {
padding-bottom: 12%;
}
}

@media screen and (max-width: 767px){
.helperland{
margin-left:auto;
margin-right: auto;
width: 95%;
height: 1650px;
}
.helperland-title{
margin-top: 60px;
}
.helperland-title h2, .blog-title{
font-size: 35px;
}
.helperland-img img{
width: 320px;
height: 320px;
margin-top: 45px;
margin-left: auto;
margin-right: auto;
display: block;
}
.helperland-img-title h4{
font-size: 28px;
}
.helperland-img-title p{
font-size: 18px;
margin-top: -30px;
width: 97%;
margin-left: 10px;
}
.lorem-main{
width: 94.5%;
margin-left: 15px;
}
 .lorem h2{
margin-top: 36px;
text-align: center;
font-size: 30px;
 }
 .lorem-bottom p{
margin-top: 25px;
font-size: 18px;
 }
.lorem-right{
float: none;
margin-top: 30px;
margin-bottom: 60px;
}
.lorem-right img{
display: block;
width: auto;
height: auto;
margin-left: auto;
margin-right: auto;
 }
.blog-image img{
height: 270px;
}
.customer{
margin-top: 1600px;
}
.blog-main{
height: 500px;
margin-left: 3px;
}
 .customer-main{
margin-left: 3px;
width: 98%;
}
.privacy{
margin-bottom: 60px;
}
.ok-btn{
bottom: -40px;
}
}

@media screen and (max-width: 710px){
.customer-main1{
margin-left: 10px;
}
.customer-main1{
width: 95%;
}
}

@media screen and (max-width: 650px){
.bg-img .svg-imges {
max-width: 500px;
}
.down-bttn {
padding-bottom: 15%;
}
}

@media screen and (max-width: 600px){
.customer{
margin-top: 1600px;
}
.blog-main{
height: 470px;
}
.blog-image img{
height: 230px;
}
}

@media screen and (max-width: 575px){
.bg-img .svg-imges {
margin-top: 100px;
width: 400px;
}
.svg1 span img, .svg2 span img, .svg3 span img{
margin-top: 100px;
}
.svg-imges .row .col-lg-3 .svg:before {
display: none;
}
.down-bttn {
padding-bottom: 10%;
}
}

@media screen and (max-width: 522px){
.helperland-title h2, .blog-title{
font-size: 30px;
}
.ipsum-text {
margin-left: -30px;
font-size: 35px;
}
.bg-img ul li{
margin-left: -30px;
}
.helperland{
width: 92%;
height: 1550px;
}
.helperland-img-title h4{
font-size: 19px;
}
.helperland-img-title p{
margin-top: -40px;
font-size: 14px;
}
.lorem-main{
width: 94%;
}
.inner{
width: 95%;
}
.lorem h2{
font-size: 22px;
margin-top: 60px;
 }
.lorem-bottom p{
font-size: 14px;
 }
.lorem-right img{
width: 300px;
height: 250px;
 }
.customer-title{
font-size: 27px;
 }  
.blog-title{
font-size: 32px;
}
.blog-image img{
height: 200px;
}
.customer{
margin-top: 1350px !important;
}
.blog-main{
height: 430px;
margin-left:0px;
}
.whatsapp img{
width:40px;
height:40px;
}
.arrow1{
width:35px;
height:35px;
padding: 3px 2px 2px 2px;
top:30px;
}
.whatsapp{
top:115px;
}
.arrow1{
top:115px;
}
.nsletter input[type=text] {
width: 180px;
}
.blog-image-title h5, .blog-image-title p, .blog-image-text p{
margin-left: -10px;
}
.customer-main1{
width: 94%;
}
}

@media screen and (max-width: 460px){
.down-bttn {
padding-bottom: 15%;
}
.bg-img .svg-imges {
margin-top: 100px;
width: 250px;
}
.svg1{
margin-top: -50px;
margin-left: 60px;
width: 100%;
}
.svg1 span p{
max-width: 250px;
}
.svg2{
margin-top: 140px;
margin-left: -150px;
}
.svg3{
margin-top: -50px;
}
.blog-image img{
height: 180px;
}
.blog-main{
height: 410px;
margin-left: -2px;
}
.helperland-img img{
width: 250px;
height: 250px;
}
.helperland{
height: 1350px;
}
.customer-bottom{
margin-left: 20px;
width: 90%;
}
.customer-main{
height: 420px;
}
.customer-main1{
width: 92%;
}
.nsletter{
margin-top: 960px;
}
.customer{ 
height: 1650px;
margin-top: 1350px !important;
}
.customer-img{
margin-left: 10px;
}
}

@media screen and (max-width: 368px){
.lorem-main{
width: 93.5%;
}
.customer{
margin-top: 1300px !important;
}
.helperland-img img{
width: 220px;
height: 220px;
}
.helperland{
height: 1300px;
}
 .lorem-right img{
width: 250px;
height: 200px;
}
.blog-image-title h5{
font-size: 17px;
}
}

@media screen and (max-width: 345px){
.helperland{
width: 90%;
}
.helperland-img-title h4{
font-size: 17px;
}

.lorem-main{
width: 90%;
}
.blog-main{
height: 390px;
}
.blog-image img{
height: 160px;
}
.customer{
margin-top: 1440px;
}
.customer-title{
font-size: 24px;
} 
.customer-bottom{
margin-left: 10px;
}
.customer-main1{
width: 90%;
margin-left: 8px;
}
}