@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Header Navbar */

.navbar {
max-width: 100%;
height: 64px;
background: #525252 0% 0% no-repeat padding-box;
}
.navbar-nav {
padding-left:15px;
padding-right: 15px;
}

a {
color: #FFFFFF !important;
}

a:hover {
color: #FFFFFF !important;
}

.header-nav .navbar{
position: fixed;
width: 100%;
height: 64px;
}

.mobile-nav .navbar{
position: fixed;
width: 100%;
height: 64px;
}

.nav-item {
color: #FFFFFF !important;
}

.navbar .navbar-brand .header-logo {
max-height: 54px;
max-width: 73px;
margin-left: 0px;
margin-top: 6px;
}

.fa-bars {
color: #007bff;
font-size: 30px;
}

.book {
width: 111px;
height: 40px;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
display: inline-flex;
justify-content: center;
margin-right: 10px;
margin-top: 5px;
}

.book1 {
font-size: 17px;
max-height: 20px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}


.price {
width: 161px;
height: 40px;
display: inline-flex;
justify-content: center;
margin-right: 27px;
}

.prices {
font-size: 17px;
max-height: 20px;
letter-spacing: 0px;
color: #FFFFFF;
margin-top: 4px;
}

.war {
max-width: 82px;
max-height: 20px;
color: #FFFFFF;
justify-content: space-around;
margin-right: 14px;
margin-top: 4px;
}

.war a:hover{
border: 1px solid #FFFFFF80;
border-radius: 20px;
}

.notification-bttn{
position: relative !important;
display: inline-flex;
justify-content: center;
margin-right: 45px;
font-size: 25px;

}

.notification-bttn::before{
content: '';
position: absolute;
right: -12px;
width: 1px;
height: 48px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}

.notification-bttn::after{
content: '';
position: absolute;
left: -10px;
width: 1px;
height: 48px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}

.dropdown-menu .dropdown-item{
color: black !important;
}

.Ellipse-5 {
position: absolute;
width: 20px;
height: 22px;
top:3px;
font-size: 15px;
left:22px;
text-align: center;
border-radius: 22px;
background: #FF1616 0% 0% no-repeat padding-box;
right:115px;
}

.user-logo {
position: relative !important;
display: inline-flex;
justify-content: center;
width: 36px;
height: 36px;
padding: auto;
margin-right: 32px;
}

.user-logo::after{
content: '';
position: absolute;
width: 11px;
height: 6px;
background-image: url("image/sp-arrow-down.png");
top:23px;
right:-18px;
color:white;
}

.welcome{
height: 118px;
margin-top: 64px;
padding-top: 39px;
text-align: center;
font-size: 30px;
font-family: Roboto;
letter-spacing: 0px;
color: #4F4F4F;
background: #F9F9F9 0% 0% no-repeat padding-box;
}

.hr{
height: 1px;
background-color: #e1e1e1;
}


/* Mobile Navbar */


.notify{
position: absolute;
right:100px;
top:-10px;
}

.notify::before{
content: '';
position: absolute;
right: -5px;
width: 2px;
height: 48px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}

.notify::after{
content: '';
position: absolute;
left: -5px;
width: 2px;
height: 48px;
background: #E1E1E1 0% 0% no-repeat padding-box;
}


.mobile-nav{
display: none;
}

.bttn{
background-color: #525252 !important;
position: absolute;
right:20px;
}

.offcanvas-title{
font-size: 20px;
}

.hrr{
margin-top:-8px;
width:259px;
}

.offcanvas-body{
margin-top: -20px;
padding-left: 0 !important;
padding-right: 0px !important;
font-size: 19px;
font-family: Roboto;
color: #646464;
}

.header{
 position: absolute;
 right: 0;
}

.dash {
overflow: hidden;
background-color: white;
float: left;
font-family: Roboto;
}

.dash a {
padding-top: 8px;
padding-left: 12px;
display: block;
height: 45px;
color: #646464 !important;
text-align: left;
text-decoration: none !important;
margin-top:5px;
}

.dash a:hover {
background-color: rgb(240,240,240) !important;
font-weight: bold;
}

.dash .face{
display: flex; 
margin-left: 70px;
}
.dash .btn{
margin-left:10px;
}

.dash .btn:hover{
background-color: rgb(180,180,180);
cursor: pointer;
border-radius: 15px;
}

.activ{
font-weight: bold;
}


/* Mobile Navbar Queries */

@media screen and (max-width: 989px) {
.mobile-nav{
display: block;
}
.header-nav{
display: none;
}

.fa-bars {
color: white;
font-size: 30px;
margin-top: 0px;
margin-right: 0px;
}
a {
color: #646464 !important;
}
}


/* Vertical Navbar */

.middle-table{
margin-left: auto;
margin-right: auto;
margin-top: 31px;
}

.middle{
display:flex;  
justify-content: center;
flex-wrap: nowrap;
}

.vertical-nav{
width: 262px;
height: 1032px;
margin:0px 15px 0px 0px;
background-color: #1d7a8c;
}

.vertical-nav .list-group-item{
border:2px solid #2f8f9f;
background-color: #1d7a8c;
border-color: #2f8f9f;
font-family: Roboto;
font-size: 18px;
font-weight: normal;
line-height: 2;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
}

.vertical-nav .list-group a:hover{
background-color: #146371 !important;
cursor: pointer;
border-color: #2f8f9f;
}

.vertical-nav .active{
background-color: #146371 !important;
}

.service-history{
height: 27px;
text-align: left;
letter-spacing: 0px;
color: #646464;
font-size: 22px;
font-family: Roboto;
}

.export{
margin-left: 640px;
height: 34px;
background: #146371 0% 0% no-repeat padding-box !important;
border-radius: 17px !important;
font-size: 14px !important;
font-family: Roboto;
color:white !important;
}

/* Vertical Table */

#middle-table{
width: 864px;
padding: 1px 0 22px;
margin-top: 0px;
height:943px;
border: 1px solid #e1e1e1;
background-color: #ffffff;
border-collapse: collapse;
border-top:none;
border-left: none;
border-right: none;
}

#middle-table thead{
height: 49px;
margin: 0 2px 0 1px;
padding: 18px 37px 15px 18px;
background-color: #f9f9f9;
}

#middle-table th{
width:119px;
height: 12px;
border-top:none;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
}

#middle-table th img{
margin-left:9px;
width: 14px;
height: 14px;
}

#middle-table tr td{
height: 86px;
font-family: Roboto;
font-size: 16px;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
}

#middle-table tr{
border-left: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
}

.calendar{
margin-right:7px;
margin-left: 5px;
width: 16px;
height: 16px;
margin-bottom: 8px;
}

.times{
margin-left: 5px;
}

.star1{
font-size: 13px;
color: #ECB91C;
}
.star2{
font-size: 13px;
color: #D4D4D4;
}

.pay {
width: 37px;
height: 17px;
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
}

.pay1 {
font-size: 20px;
}

.pay2 {
font-size: 24px;
}

.center{
text-align: center !important;
}

.completed{
color: #FFFFFF !important;
background: #67B644 !important;
width:auto;
margin-top: 15px;
padding:3px 8px 3px 8px !important; 
height:auto; 
font-size: 13px !important;
}

.rate-sp{
margin-top: 15px;
width: auto;
height: auto;
background: #6DA9B5 0% 0% no-repeat padding-box !important;
border-radius: 25px !important;
font-size: 14px;
color: white !important;
}

.round1{
width: 40px;
height: 40px;
margin-right:8px;
padding: 12px 7px;
border: solid 1px #aaa;
background-color: white;
border-radius: 50%;
margin-bottom: -18px;
}

.time{
margin-left:40px;
}

input[type=button]{
font-size: 13px;
font-family: Roboto;
}

#number{
margin-left: 275px;
}

.labl{
margin-left: 10px;
}

.form{
margin-top:15px;
color: #646464;
font-size: 14px; 
font-family: Roboto;
border-radius: 4px;
}
.flex{
display:flex;
flex-wrap: nowrap;
}

.round-border{
width: 38px;
height: 38px;
border: 1px solid #E1E1E1;
border-radius: 38px;
padding:8px !important;
}

.rounds{
margin-top: 10px;
text-align: center;
}

#act{
background: #1D7A8C 0% 0% no-repeat padding-box;
color:white;
}

/* Card Section */

.bottom-show{
display: none;
}

.historys{
font-size: 25px;
color: #646464;
margin-left:20px;
margin-top: 25px;
}


.export1{
position: absolute;
right: 10px;
top:215px;
background: #146371 0% 0% no-repeat padding-box !important;
border-radius: 17px !important;
font-size: 14px !important;
font-family: Roboto;
color:white !important;
}

.card1{
display: none;
margin-bottom: 50px;
}
.cards{
border: 1px solid #E1E1E1;
margin:40px 12px 0px 12px;
}
.card-text{
padding:0px 10px 0px 10px !important;
font-family: Roboto;
font-size: 16px;
color: #646464;
vertical-align: middle;
}
.calendars{
margin-right: 7px;
}

.clocks{
margin-left: 12px;
}

.rounds{
width: 40px;
height: 40px;
margin-right:8px;
padding: 12px 7px;
border: solid 1px #aaa;
background-color: white;
border-radius: 50%;
margin-bottom: -18px;
margin-top: 0px;
}

.rate-sp1{
background: #6DA9B5 0% 0% no-repeat padding-box !important;
width:90px;
height: 35px;
border-radius: 17px !important;
font-size: 14px;
color: white !important;
}

.card button{
background-color: #ff6b6b;
color: #ffffff !important;
padding: 2px;
}

.completed2{
color: #FFFFFF !important;
background: #67B644 !important;
padding:3px 8px 3px 8px !important; 
font-size: 14px !important;
margin-top: 0px;
}

.pays {
font-family: Roboto;
line-height: 1;
text-align:center !important;
color: #1D7A8C !important;
}

.pay4 {
font-size: 24px;
}

.pay3 {
font-size: 28px;
}


/* Footer */

.footers{
background-color: #111111;
margin-top: 35px;
}
.footer{
width: 100%;
padding-top: 20px;
padding-left: 8%;
padding-bottom: 20px;
}
.footer .logos{
width: 120px;
height: 92px;
}
.links {
padding-top: 2%;
}
.menu{
justify-content: center;
}
.menu a{
color: #F1F1F1;
font-size: 14px;
}
.menu a:hover, .icons .facebook:hover,  .icons .instagram:hover{
background-color: #006072;
}
    
.fi-logo {
padding-top: 2%;
}
.icons{
justify-content: center;
}
.icons .fb,  .icons .insta{
font-size: 18px;
color: #F1F1F1;
}
.policy {
padding-top: 23px;
padding-bottom: 5px;
text-align: center;
justify-content: center;
font-size: 14px;
color: #9BA0A3;
width: 100%;
background-color: #111111;
margin: 0px;
}
.footer h4{
padding-top:100px;
}
.footer .bottom-logo{
width: 200px;
margin-left: auto;
margin-right: auto;
}

.policy {
padding-top: 23px;
padding-bottom: 5px;
text-align: center;
justify-content: center;
font-size: 14px;
color: #9BA0A3;
border-top: 1px solid;
width: 100%;
background-color: #111111;
margin: 0px;
}
.policy p span{
color: #9BA0A3;
}
.policy p span a{
text-decoration: none;
}


/* Media Queries */


@media screen and (max-width: 1162px) {
.vertical-nav{
width: 223px;
margin-right: 10px;
}
#middle-table{
width: 850px;
}
.service-history{
font-size: 20px;
}
}

@media screen and (max-width: 1095px) {
.vertical-nav{
width: 210px;
margin-right: 0px;
}
#middle-table{
width: 845px;
}
.service-history{
font-size: 20px;
}
}

@media screen and (max-width: 1077px) {
.service-history{
font-size: 18px;
}
.export{
font-size: 12px;
}

#middle-table{
width: 864px;
}

#middle-table th{
font-size: 14px;
}

#middle-table th img{
margin-left:8px;
}

#middle-table tr td{
font-size: 13px;
}

.star1{
font-size: 9px;
}
.star2{
font-size: 9px;
}

.pay1 {
font-size: 17px;
}

.pay2 {
font-size: 20px;
}

.completed{
font-size: 13px !important;
}

.completed1{ 
font-size: 13px !important;
}

.rate-sp{
font-size: 13px;
}

input[type=button]{
font-size: 18px;
}

.form{
font-size: 10px; 
}
}

@media screen and (max-width: 1058px) {
.service-history{
font-size: 14px;
}
}

@media screen and (max-width: 991px) {
.middle{
display:block;
}
.vertical-nav{
display: none;
}
#middle-table{
margin-top:20px;
margin-left: auto;
margin-right: auto;
}
.service-history{
font-size: 12px;
}
.bottom-show{
display: block;
}
.bottom-tav-show{
display: none;
}
}

@media screen and (max-width: 980px) {
#middle-table{
margin-left: 10px;
width: 98%;
overflow-x: auto;
overflow-y: hidden;
}
.middle-table{
margin-top: 70px;
margin-bottom: 50px;
}
#middle-table .table{
min-width: 797px;
}
#middle-table tr td{
height: 80px;
}

.form{
margin-top:-5px;
}
}

@media screen and (max-width: 767px) {
.card1{
display: block;
}
.middle-table{
display: none;
}
#number{
margin-left: 150px;
}
}

@media screen and (max-width: 668px) {

#number{
margin-left: 0px !important;
margin-top: 40px;
}
.rounds{
margin-top: 60px !important;
}
.round-border{
width: 32px !important;
height: 32px !important;
padding-top: 3px !important
}
}
@media screen and (max-width: 500px) {

.flex{
position: absolute;
right: 10px;
}
.form{
position: absolute;
left:40px;
}
.footers{
margin-top: 180px;
}
}

@media screen and (max-width: 520px) {
#middle-table{
width: 96%;
}
}





