@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Header Navbar */

.navbar {
 width: 100%;
 height: 60px;
 background: #1FB6FF 0% 0% no-repeat padding-box;
}

.header-nav .navbar{
position: fixed;
width: 100%;
height: 60px;
}

.mobile-nav .navbar{
position: fixed;
width: 100%;
height: 60px;
}

.navbar-nav {
position: absolute;
right: 18px;
}
a {
color: #FFFFFF !important;
}

a:hover {
color: #FFFFFF !important;
}

.nav-item {
color: #FFFFFF !important;
}

.navbar .navbar-brand .logo {
position: absolute;
top:18px;
left: 15px;
width: 172px;
height: 37px;
font-family: SwitzeraADF;
font-size: 38px;
font-style: normal;
line-height: 0.65;
font-weight: bold;
color: white;
}

.fa-bars {
color: blue !important;
font-size: 30px;
}

.booknow {
margin-top: -13px;
width: 36px;
height: 36px;
display: inline-flex;
justify-content: center;
margin-right: 7px;
}

.login {
margin-top: -8px;
width: 94px;
height: 19px;
letter-spacing: 0px;
color: #FFFFFF;
display: inline-flex;
justify-content: center;
margin-right: 17px;
}

.log-in {
font-size: 14px;
}

.helper {
margin-top: -10px;
display: inline-flex;
justify-content: center;
width: 25px;
height: 28px;
}


/* Mobile Navbar */


.mobile-nav{
display: none;
}
.bttn{
background-color: #525252 !important;
position: absolute;
right:20px;
}

.offcanvas-title{
font-size: 20px;
}

.hrr{
margin-top:-8px;
width:250px;
}

.offcanvas-body{
margin-top: -20px;
padding-left: 0 !important;
padding-right: 0px !important;
font-size: 18px;
font-family: Roboto;
color: #646464;
}

.dash {
overflow: hidden;
background-color: white;
float: left;
font-family: Roboto;
}

.dash a {
padding-top: 8px;
padding-left: 12px;
display: block;
height: 42px;
color: #646464 !important;
text-align: left;
text-decoration: none !important;
margin-top:5px;
}

.dash a:hover {
background-color: rgb(220,220,220) !important;
font-weight: bold;
}

.dash .face{
display: flex; 
margin-left: 70px;
}
.dash .btn{
margin-left:10px;
}

.dash .btn:hover{
background-color: rgb(180,180,180);
cursor: pointer;
border-radius: 15px;
}

.activ{
font-weight: bold;
}


/* Vertical navbar */

.middle-table{
height: 1012px;
width:1366px;
margin-top: 60px;
}

.middle{
display:flex;  
justify-content: center;
flex-wrap: nowrap;
}

.vertical-nav{
width: 273px;
height: 1012px;
background-color: white;
border:1px solid #E5E5E5;
}

.vertical-nav .list-group-item
{
border-left: none;
border-right: none;
border-bottom:1px solid #E5E5E5;
background-color: #FFFFFF !important;
font-family: Roboto;
font-size: 16px;
font-weight: normal;
line-height: 2;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: left;
color: #646464;
border:3px solid #E5E5E5;
}

.vertical-nav .activ{
color: #1FB6FF;
}

.fa-chevron-right{
position: absolute;
right:14px;
top:13px;
}

#nav-menu{
margin-top: 10px;
width: 273px;
margin-left: -6px;
background-color: #f2f4f5;
}
#dropdown{
margin-left: -14px;
color: #646464 !important;
}

.list-group .dropdown i:hover{
  transform: rotate(90deg);
}

.list-group .list-group-item:hover{
background-color: #f2f4f5 !important;
}

#middle-table tr:hover{
background-color: #f2f4f5 !important;
}

.bottom-tav-show .rounds:hover{
 background-color: #565656;
color:white;
}


/* Services Section */

.service{
margin-top: 29px;
margin-left: 20px;
font-size: 22px;
font-family: Roboto;
font-weight: bold;
letter-spacing: 0px;
color: #646464;
}

.user-mangement-form{
width: 1050px;
height: 86px;
margin-top: 14px;
margin-left: 20px;
padding: 20px 20px 20px 15px;
border: 1px solid #E1E1E1;
background-color:white;
}

.sid{
width: 110px;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDDDD;
text-align: center;
font-family: Roboto;
font-size: 16px;
}

.customer{
width: 127px;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDDDD;
text-align: center;
font-family: Roboto;
font-size: 16px;
margin-left: 10px;
}

.provider{
width: 152px;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDDDD;
text-align: center;
font-family: Roboto;
font-size: 16px;
margin-left: 10px;
}

.status{
width: 120px;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDDDD;
text-align: center;
font-family: Roboto;
font-size: 16px;
margin-left: 10px;
}

.date{
width: 135px;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E1E1E1;
padding-top: 10px;
font-family: Roboto;
font-size: 16px;
margin-left: 10px;
padding-left: 9px;
}

.date img{
margin-right: 5px;
}

.search{
width: 84px;
height: 46px;
background: #1FB6FF 0% 0% no-repeat padding-box;
text-align: center;
font-family: Roboto;
font-size: 16px;
margin-left: 10px;
color: white;
border:none;
}

#clear{
background: #FFFFFF 0% 0% no-repeat padding-box;
color: #646464;
border: 1px solid #DEDDDD;
}


/* Table Section */


#middle-table{
width: 1053px;
height: 776px;
margin-left: 20px;
margin-top: 20px;
border: 1px solid #e1e1e1;
background-color: white;
}

#middle-table thead{
width: 1053px;
height: 56px;
margin: 0 0 12px;
padding: 21px 14px 18px 15px;
background-color: #f9f9f9;
}

#middle-table th{

height: 15px;
margin: 2px 0 0;
font-family: Roboto;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
}

#middle-table th img{
margin-left: 10px;
width: 14px;
height: 14px;
}


#middle-table tr td{ 
padding-top:0px !important;
padding-bottom: 0px !important;
height: 64px;
font-family: Roboto;
font-size: 16px;
font-stretch: normal;
font-style: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #646464;
vertical-align: middle;
}

tr{
border: 1px solid #e1e1e1;
}

.actives{
width:90px;
margin-top:0px;
font-family: Roboto;
background: #67B644 0% 0% no-repeat padding-box !important;
color: #FFFFFF !important;
text-align: center;
}

.calendar{
margin: 9px 7px 8px 0px;
width: 16px;
height: 19px;
object-fit: contain;
}

.clock{
width: 17px;
height: 17px;
margin-right: 7px;
}

.mydiv{
display: flex;
margin-bottom: -5px;
}

.mydiv .desc{
margin-top: 5px;
}

.home{
width: 22px;
height: 22px;
margin: 4px 5px 0px 0px;
}

.star1{
font-size: 13px;
color: #ECB91C;
}
.star2{
font-size: 13px;
color: #D4D4D4;
}

.time{
margin-left:45px;
}

.round, .round1{
width: 40px;
height: 40px;
margin-right:8px;
padding: 12px 7px;
border: solid 1px #aaa;
border-radius: 50%;
margin-bottom: -18px;
}

.new{
width: 78px;
background: #F2BB37 0% 0% no-repeat padding-box;
font-size: 13px;
text-align: center;
color: white;
border-color:  #F2BB37;
}

.padding{
width: 78px;
background: #1FB6FF 0% 0% no-repeat padding-box;
font-size: 13px;
text-align: center;
color: white;
border-color:  #1FB6FF;
}

.completed{
width: 78px;
background: #67B644 0% 0% no-repeat padding-box;
font-size: 13px;
text-align: center;
color: white;
border-color:  #67B644;
}

.cancel{
width: 78px;
background: #FF6B6B 0% 0% no-repeat padding-box;
font-size: 13px;
text-align: center;
color: white;
border-color:  #FF6B6B;
}

.dot{
text-align: center !important;
}

.dropdown-menu .dropdown-item{
color: black !important;
color: #646464;
font-family: Roboto;
}

.dropdown .btn:hover{
background-color: rgb(240,240,240);
}

#menu{
margin-top: 10px; 
margin-left: -100px;
}

#menu1{
margin-top: 10px; 
}


/* Footer Section */

#number{
margin-left: 600px;
}

.labl{
margin-left: 10px;
}

.form{
margin-top:15px;
color: #646464;
font-size: 14px; 
font-family: Roboto;
border-radius: 4px;
}
.flex{
display:flex;
flex-wrap: nowrap;
}

.round-border{
width: 40px;
height: 40px;
border: 1px solid #E1E1E1;
padding:6px;
}

.rounds{
margin-top: 10px;
text-align: center;
}

#act{
 background-color: #565656;
color:white;
}


.footers{
margin-top: 22px;
margin-left: 20px;
letter-spacing: 0px;
color: #A2A6A8;
font-family: Roboto;
font-size: 14px;
}


/* Card Section */

.card1{
display: none;
margin-bottom: 40px;
}

.cards{
border: 1px solid #E1E1E1;
margin:40px 13px 0px 12px;
}

.card-text{
padding:0px 10px 0px 10px !important;
font-family: Roboto;
font-size: 16px;
color: #646464;
vertical-align: middle;
}

.history{
font-size: 25px;
color: #646464;
margin-left:20px;
margin-top: 85px;
}

.calendar1{
margin-right: 7px;
}

.clock1{
margin-left: 15px;
margin-right: 5px;
}

.home1{
margin: 0px 10px 0px 7px;
}

.completed2{
width: 80px;
color: #FFFFFF;
background: #67B644;
padding:3px 8px 3px 8px; 
font-size: 14px;
height: 35px;
margin-top: 0px;
border-color:#67B644;
}

.new1{
width: 80px;
height: 35px;
background: #F2BB37;
font-size: 14px;
color: white;
margin-top: 0px;
border-color:  #F2BB37;
}

.padding1{
width: 80px;
height: 35px;
color: #FFFFFF;
background: #1FB6FF;
font-size: 14px;
margin-top: 0px;
border-color:  #1FB6FF;
}

.cancel1{
width: 80px;
height: 35px;
background: #FF6B6B;
font-size: 14px;
color: white;
margin-top: 0px;
border-color:  #FF6B6B;
}


/* Mobile footer section */

.bottom-tav-show1{
display: none;
}

.flex2{
display: flex; 
position: absolute; 
right:20px;
}

.labl1{
margin-left: 40px;
margin-bottom: 20px;
}

.form1{
margin-top:15px;
color: #646464;
font-size: 14px; 
font-family: Roboto;
border-radius: 4px;
}

.round-border1{
width: 40px;
height: 40px;
border: 1px solid #E1E1E1;
padding:6px;
}

.rounds1{
margin-top: 10px;
text-align: center;
}

.footers1{
margin-top: 80px;
margin-left: 20px;
letter-spacing: 0px;
color: #A2A6A8;
font-family: Roboto;
font-size: 14px;
}

.bottom-tav-show1 .rounds1:hover{
 background-color: #565656;
color:white;
}


/* Media Queries for all */


@media screen and (max-width: 1387px) {
.user-mangement-form{
width:1050px;
}
#middle-table th{
font-size: 14px;
}
#middle-table tr td{ 
font-size: 14px; 
}
.middle-table{
width:auto;
}
.sid{
width: 110px;
font-size: 14px;
}
.customer{
width: 126px;
font-size: 14px;
}
.provider{
width: 154px;
font-size: 14px;
}
.status{
width: 115px;
font-size: 14px;
}
.date{
width: 135px;
font-size: 14px;
}
.search{
width: 82px;
font-size: 14px;
}
}

@media screen and (max-width: 1340px) {
.vertical-nav{
width: 200px;
}
.list-group-item .dropdown .btn{
font-size: 10px;
}
#nav-menu{
font-size: 10px;
width: 197px;
}
.vertical-nav .list-group-item{
font-size: 10px;
}
}

@media screen and (max-width: 1269px) {
.vertical-nav{
width:170px;
}
.list-group-item .dropdown .btn{
font-size: 8px;
}
#nav-menu{
font-size: 8px;
width: 167px;
}
.vertical-nav .list-group-item{
font-size: 10px;
}
.service{
margin-left: 10px;
}
.user-mangement-form{
width:800px;
padding-left: 8px;
margin-left: 0px;
}
#middle-table th{
font-size: 12px;
}

#middle-table tr td{ 
font-size: 12px; 
}
#middle-table{
width:800px;
margin-left: 0px;
}
.sid{
width: 90px;
font-size: 11px;
margin-left: 0px;
}
.customer{
width: 116px;
font-size: 11px;
margin-left: 5px;
}
.provider{
width: 110px;
font-size: 11px;
margin-left: 5px;
}
.status{
width: 90px;
margin-left: 5px;
font-size: 11px;
}
.date{
width: 100px;
font-size: 11px;
margin-left: 5px;
}
.search{
width: 70px;
font-size: 11px;
margin-left: 5px;
}
#number{
margin-left: 400px;
}
}

@media screen and (max-width: 989px) {
.mobile-nav{
display: block;
}
.header-nav{
display: none;
}
.fa-bars {
color: white;
font-size: 30px;
margin-top: 0px;
margin-right: 0px;
}
a {
color: #646464 !important;
}
.vertical-nav{
display: none;
}
.user-mangement-form{
width:900px;
padding-left: 18px;
}
#middle-table{
width:900px;
}
#number{
margin-left: 440px;
}
.sid{
width: 100px;
}
.customer{
width: 126px;
}
.provider{
width: 130px;
}
.status{
width: 100px;
}
.date{
width: 110px;
}
.search{
width: 75px;
}
}

@media screen and (max-width: 991px) {
.scroll{
margin-left: 0px;
width: 96%;
overflow-x: auto;
overflow-y: hidden;
}
}

@media screen and (max-width: 767px) {
.card1{
display: block;
}
.middle-table{
display: none;
}
.bottom-tav-show1{
display: block;
}
}

@media screen and (max-width: 350px) {
.flex2{
right:10px;
}
}


