/* Header */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
header {

    width: 100%;
    height: 930px;
    background-size: cover;
    background-image: url('./images/Landing-Page-background-image.png');

}

nav {
    width: 100%;
    width: 1560px;
    background-size: cover;

}


.navbar .navbar-brand img {
    width: 175px;
    height: 130px;
    margin-left: 17px;
    margin-top: 10px;
}

.navbar-brand .img {
    width: 175px;
    height: 130px;


}

.navbar .navbar-nav {
    padding-left: 428px;
    padding-top: 33px;
    padding-bottom: 57px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
    letter-spacing: normal;
}


.navbar .navbar-nav .link1 {
    width: 545px;
    height: 16px;
    text-align: right;
    line-height: 1.41;
}

.navbar .navbar-nav .link1 a {
    text-decoration: none;
    display: inline-block;
}

.navbar .navbar-nav .nav-item #box-1 {
    width: 161px;
    height: 40px;
    position: relative;
    line-height: 1.41;
    text-align: center;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
}




.navbar .navbar-nav .nav-item #box-2 {
    width: 97px;
    height: 40px;
    border-radius: 20px;

    border: solid 1px rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-left: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    position: relative;
}





.navbar .navbar-nav .nav-item #box-3 {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-left: 11px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}



.link1 {
    width: 545px;
    height: 16px;
    font-size: 17px;
    line-height: 1.41;
}

.dropdown {
    position: relative;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 16px;
}

.navbarDropdownMenuLink {

    display: table-row-group;
}


.scrolling-active {
  background-color: rgba(0, 0, 0, .7);
}

.scrolling-active #box-1 {
  background-color: #006072;
}

.scrolling-active #box-2 {
  background-color: #006072;
}

.scrolling-active #box-3 {
  background-color: #006072;
}


header .box {

    float: left;
    padding-top: 330px;

}


header .box .row .col-xl-col-1 {
    width: 388px;
    margin-left: 58px;
    height: 46px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #fff;


}

header .box .row #col2 {
    padding-top: 22px;
    margin-bottom: 12px;
}

header .box .row .col-xl-col-2 {
    width: 362px;
    height: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-left: 59px;

}




header .box .pad {
    margin-bottom: 12px;
    ;
}

header .box .row .col-xl-col-2 .arrowimg {
    width: 13px;
    height: 10px;
}

header .box .row .col-xl-col-2 .dummy {
    padding-left: 13px;
    display: inline-block;
}


header .headbtn {

    padding-top: 483px;
    padding-left: 668px;

}

header .headbtn .btn {
    width: 225px;
    height: 54px;

    border-radius: 27px;
    border: solid 1px #fff;
    background-color: #006072;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 31px;
    padding-right: 33px;
}

header .container {
    margin: 0;
    padding: 0;
    padding-top: 164px;

}

.d-flex {

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);

}

#im1 {
    width: 52px;
    height: 55px;
    margin-left: 312px;
}

.galp1 {
    margin-left: 241px;
    margin-top: 44px;
    width: 177px;
    height: 19px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.arrow1 {
    margin-left: 25px;
    padding-top: 19px;
    padding-bottom: 13px;
    width: 85px;
    height: 23px;
    /* background-color: #fff; */
}


#im2 {
    margin-left: 83px;
    padding-top: 4px;
    width: 57px;
    height: 60px;
}

.galp2 {
    width: 140px;
    height: 19px;
    font-family: Roboto;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}


#im3 {
    margin-left: 77px;
    padding-top: 5px;
    width: 54px;
    height: 54px;
}

.galp3 {
    width: 169px;
    height: 19px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-left: 20px;
}

.arrow2 {
    padding-top: 20px;
    padding-bottom: 17px;
    margin-left: 32px;
    width: 85px;
    height: 23px;

}



.arrow12 {
    margin-left: 11px;
    width: 85px;
    height: 23px;
    padding-top: 19px;
    padding-bottom: 13px;
}

#im5 {
    margin-left: 86px;
    padding-top: 2px;
    padding-bottom: 6px;
    width: 62px;
    height: 63px;
}

.galp5 {
    margin-top: 38px;
    margin-left: 20px;
    width: 197px;
    height: 19px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

}

.dwn {
    margin-left: 781px;
    margin-top: 43px;
    position: relative;
}

.eclipce {
    width: 40px;
    height: 40px;
    position: absolute;

}

.download {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    width: 16px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    height: 20px;
}



@media screen and (max-width:1200px) {
 
  .rightbg {
    height: 0;
    opacity: 0;
  }

  .leftbg {
    height: 0;
    opacity: 0;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .foot {
    display: contents;
  }

  .policy .btn {
    /* float: left; */
    display: contents;
  }

  .footer {
    width: 100%;
  }

  .policy {
    display: contents;
  }

  .social {
    padding-left: 80%;
    position: absolute;
    float: right;
    padding-top: 7%;
  }

  .policy1 {

    margin-top: 4px;
    width: auto;
    margin-left: 10%;
  }

  #chat2 {
    margin-left: 1000px;
  }

  .letter {
    margin-left: 400px;
  }

  .email {
    margin-left: 396px;
  }

  .arrow-up {
    margin-left: 30px;
  }

  .wocy {
    font-size: 24px;
    margin-left: 27px;
  }

  .profile-page {
    margin-left: 50px;
    max-width: 1200px;
  }

  .profile-page .profile-header {
    width: 250px;
  }

  .ctext {
    font-size: smaller;

    width: 200px;
    margin-left: 20px;
  }

  .chat {
    margin-left: 10px;
    height: 15px;
  }

  .profile-image img {
    width: 88%;
    height: 44px;
  }

  #hyperland {
    margin-left: 10px;
    width: auto;
  }

  .card-deck {
    display: flex;
  }

  .card {
    flex-wrap: wrap;
  }

  #hyperland .card-deck {
    margin-top: 84.5px;
    /* display: inline-flex; */
    flex-wrap: wrap;
  }

  #hyperland {
    margin-left: -100px;
  }

  #hyperland .card {
    flex-wrap: wrap;
    flex: auto;
  }

  .c15 {
    margin-top: 10px;

    padding-left: 200px;
  }

  header {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .nav {
    width: auto;
  }

  header .box {
    width: auto;
  }

  .col-xl-col-1 {
    font-size: 14px;
  }

  .navbar {
    /* width: auto; */
    display: inline-block;

  }


  header .headbtn {

    padding-top: 310px;

  }

  .icons {
    display: flex;
  }

  .d-flex {
    margin-left: -100px;
    margin-top: -50px;
    margin-bottom: 100px;

  }



  .nav-item {
    margin-top: -120px;

  }

  .dwn {
    margin-top: -50px;
    justify-content: center;
  }

  .policy1, .btn {
    display: contents;
  }


}

@media screen and (max-width:1400px) {
  *{
    width: auto;
  }

  .rightbg {
    height: 0;
    opacity: 0;

  }

  .leftbg {
    width: 70px;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .policy1, .policy .btn {
    display: contents;
  }

  .footer {
    width: auto;
  }

  .social {
    padding-left: 80%;
    position: absolute;
    float: right;
    padding-top: 7%;
  }

  .policy1 {

    margin-top: 4px;
    width: auto;
    margin-left: 10%;
  }

  #chat2 {
    margin-left: 1000px;
  }

  .letter {
    margin-left: 400px;
  }

  .email {
    margin-left: 396px;
  }

  .arrow-up {
    margin-left: 30px;
  }

  .profile-page {
    margin-left: 50px;
    /* max-width: 1200px; */
  }

  #hyperland {
    margin-left: 10px;
    width: auto;
  }

  .card-deck {
    display: flex;
  }

  .card {
    flex-wrap: wrap;
  }

  #hyperland .card-deck {
    margin-top: 84.5px;
    display: inline-flex;
  }
}




/* Helperland */

.helperland{
margin-top:0px;
margin-left:auto;
margin-right: auto;
width: 1119px;
height: 570px;
}

.helperland-title{
margin-top: 79px;
margin-left:auto;
margin-right: auto;
width: 284px;
height: 48px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
  }

.helperland-img{
width: 320px;
height: 320px;
margin-top: 82px;
  }

 .helperland-img-title{
margin-top: 32px;
margin-left:28px;
width: 272px;
height: 73px;
text-align: center;
letter-spacing: 0px;
color: #565656;
  }


.helperland-bottom{
margin-left:-3px;
margin-top:29px;
width: 325px;
height: 90px;
text-align: center;
letter-spacing: 0px;
color: #565656;
  }

  /*lorem style*/

.lorem-main{
margin-top: 107px;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 929px;
opacity: 1;
  } 

.inner{
padding-top: 63px;
margin-left: auto;
margin-right: auto;
width: 1162px;
height: 822px;
opacity: 1;
}

 .lorem{
margin-top: 36px;
margin-left: 0px;
width: 378px;
height: 72px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
 }

 .lorem-bottom {
margin-top: 8px;
margin-left: 1px;
width: 642px;
height: 241px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
 }

 .lorem-bottom p{
  margin-left: 2px;
 }

.lorem-right{
 margin-top: 0px;
float:right;
margin-right: 31px;
width: 403px;
height: 336px;
opacity: 1;
}

/* our blog style*/

.blog-main{
margin-top: 64px;
margin-left: 2px;
width: 357px;
height: 366px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #E4EBF0;
border-radius: 4px;
opacity: 1;
}

.blog-main-t{
margin-top: 64px;

width: 357px;
height: 366px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #E4EBF0;
border-radius: 4px;
opacity: 1;
}

.blog-main-tt{
margin-top: 64px;

width: 357px;
height: 366px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #E4EBF0;
border-radius: 4px;
opacity: 1;
}

.blog-title{
margin-top: 13px;
margin-left: 503px;
width: 156px;
height: 48px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
}

.blog-image{
margin-top: 0px;
margin-left: 0px;
width: 357px;
height: 164px;
opacity: 1;
}

.blog-image-title{
margin-top: 16px;
margin-left: 19px;
width: 321px;
height: 73px;
text-align: left;
letter-spacing: 0px;
color: #3D4046;
}

.blog-image-text{
margin-top: -10px;
margin-left: 20px;
width: 288px;
height: 82px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.image-bottom{
margin-top: 3px;
margin-left: 19px;
width: 111px;
float:left;
height: 21px;
text-align: left;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
}


.icon-img{
 margin-top: 3px;
margin-left: 10px;
float:left;
width: 29px;
height: 9px;
opacity: 1;
}

  .customer{ 
 margin-top: 0;
 margin-left: 0px;
 width: 100%;
 height: 580px;
 background: #F4F5F8 0% 0% no-repeat padding-box;
 opacity: 1;
  }

 .customer-title{

padding-top: 57px;
margin-left: auto;
margin-right: auto;
width: 449px;
height: 48px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
 }  

 .customer-main{
margin-top: 57px;
width: 357px;
background-color: white;
height: 370px;
}

 .customer-img{
margin-top: 43px;
margin-left: 38px;
width: 70px;
height: 70px;
opacity: 1;
float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.customer-img-title{
margin-top: 55px;
margin-left: 17px;
width: 111px;
height: 24px;
text-align: right;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
float:left;
}

.customer-img-title p{
padding-top:5px;
margin-right: 6px;
}
.customer-bottom{
margin-top: 25px;
margin-left: 38px;
width: 295px;
height: 233px;
text-align: left;
letter-spacing: 0px;
color: #565656;
opacity: 1;
}


/* Footer */


.newsletter {
position: relative;
height: 130px;
margin-top: 50px;
}
.whatsapp{
position: absolute;
top: 10px;
right: 72px;
width: 63px;
height: 63px;
}

.arrow1{
position: absolute;
top: 10px;
left: 70px;
width: 48px;
height: 48px;
background: #525252;
border-radius: 48px;
padding-top:10px;
}
.okbtn{
position: absolute;
top: 350px;
padding-top:8px;
right: 25px;
width: 99px;
height: 40px;
background: #EED507 0% 0% no-repeat padding-box;
border-radius: 20px;
}
.newsletter h1 {
text-align: center;
font-size: 36px;
}

.newsletter h3 {
text-align: center;
font-size: 30px;
padding: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.newsletter input[type=text] {
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
font-family: Roboto-Regular;
}

.newsletter ::placeholder {
padding-left: 22px;
font-size: 14px;
width: 80px;
height: 16px;
text-align: left;
letter-spacing: 0px;
color: #565656;
}

.newsletter .ournews {
letter-spacing: 0px;
color: #353548;
font-family: Roboto;
font-size: 18px;
font-weight: bold;
}

.newsletter .btn5 {
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
font-family: Roboto-Regular;
font-size: 14px;
padding-top: 9px;
padding-left: 18px;
}

.newsletter .btn5 p {
font-size: 14px;
width: 44px;
height: 16px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
}

footer .btn3 {
color: white;
font-size: 14px;
}

footer .btn3:hover {
color: white;
background-color: teal;
}

footer {
margin-top: 53px;
background-color: #111111;
overflow: hidden;
}

.fnavimg {
width: 120px;
height: 92px;
margin-top: 20px;
margin-left: 115px;
}

footer .fnav1 {
margin-top: 20px;
margin-left: 115px;
}

footer .fnav2 {
width: 582px;
text-align: left;
letter-spacing: 0px;
color: #F1F1F1;
display: flex;
height: 43px;
font-size: 14px;
}

footer .fnav3 {
justify-content: center;
}

footer .fnav6 {
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

footer .fnav5 {
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

footer hr {
margin-left: 120px;
margin-right: 120px;
border-top: 1px solid #424242;
}

footer .privacy {
margin-bottom: 22px;
margin-top: 25px;
width: 100%;
text-align: center;
color: #9BA0A3;
font-family: Roboto-Regular;
font-size: 14px;
}

footer .tp {
padding-left: 10px;
display: inline-block;
}

@media screen and (max-width:1250px) {
.fnavimg {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
 }
}


@media screen and (max-width: 950px) {
.fnavimg {
width: fit-content;
margin-left: auto;
margin-right: auto;
}
footer .row {
flex-direction: column;
align-items: center;
}
footer .fnav1 .img {
width: 60px;
height: 42px;
}
footer .fnav2 {
margin-left: auto;
margin-right: auto;
display: table-cell;
}
footer .fnav1, .fnav2 {
margin-left: auto;
margin-right: auto;
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
margin-bottom: 2px;
}
.fnav3 {
display: flex;
flex-direction: column;
}
}

@media screen and (max-width: 600px) {
footer .col-md-4 a, footer .col-md-4 img {
float: none;
}
.fnavimg {
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
}
}


@media only screen and (max-width: 1400px) {
.helperland{
margin-left:20px;
width: 1000px;
}
.lorem-main{
margin-left: -120px;

}
.customer .row{
margin-left: 20px !important;
}
.customer{
width:1250px;
}
}

@media only screen and (max-width: 1390px) {
.helperland-img {
margin-left:0 !important;
width: 300px !important;
height: 300px !important;
margin-top:0px !important;
margin-bottom: 170px !important;
  }
}
 
@media only screen and (max-width: 760px) {
.helperland-title{
margin-left:-20px !important;
margin-top: 79px !important;
}
}

@media only screen and (max-width: 760px) {
.helperland-bottom {
margin-left:0 !important;
margin-top: 0 !important;
}

helperland-img-title{
margin-left:0 !important;
margin-top: 0px !important;
}
}

@media only screen and (max-width: 1335px) {
.inner{
margin-left:0 !important;
}
}

@media only screen and (max-width: 1390px) {
.inner{
margin-left:0 !important;
}
.row{
margin-left:20px !important;
}
}

@media only screen and (max-width: 760px) {
.row{
margin-left: 50px  !important;
}  
}
.img-right{
float:right;
margin-left: 0;
z-index: -1;
margin-top: 30px;
}
.img-left{
z-index: -1;
float:left;
margin-left: 0;
margin-top: 30px;
}
@media only screen and (max-width: 1250px) {
.okbtn{
top: 480px;
right: 25px;
}
footer .privacy {
margin-bottom: 60px;
}
}
@media only screen and (max-width: 950px) {
.okbtn{
top: 550px;
right: 25px;
}
}
@media only screen and (max-width: 991px) {
.helperland-title{
margin-left:80px;
width: 500px;
margin-top:100px;
}
.helperland{
margin-left:20px;
height:800px;
}
.helperland-img{
margin-top:90px !important;
  }

.blog-title{
margin-top:200px;
}
.blog-main, .blog-main-t, .blog-main-tt{
margin-left:300px !important;

}

.lorem-main{
margin-top:1000px;
}
.customer{
height:1500px;
width: 1000px;
}
.customer .row{
margin-top: 20px;
margin-left:200px !important;
}
.customer-title{
margin-top: 1500px;
margin-left: 150px;
}
.footernav1 img, .fnav2{
margin-left:-150px !important;
}
}

@media only screen and (max-width: 700px) {
.helperland-title{
margin-left: 120px !important;
}
.helperland{
margin-left:-220px;
}
.lorem-right{
position: absolute;
left:400px !important !important;

}

.blog-title{
margin-top:250px;
margin-left: 290px;
}
.blog-main{
margin-top:330px;
}
.blog-main, .blog-main-t, .blog-main-tt{
margin-left:30px !important;

}

.lorem-main{
margin-top:1000px;
width:400px !important;
}
.customer{
height:1500px;
width: 700px;
}
.customer .row{
margin-top: 20px;
margin-left:80px !important;
}
.customer-title{
margin-left: 30px;
}
.whatsapp{
right: 10px;
width: 63px;
height: 63px;
}

.arrow1{
left: 10px;
width: 48px;
height: 48px;
border-radius: 48px;
}
}
@media screen and (max-width: 510px) {
.whatsapp{
top:120px;
right:30px;
width: 40px;
height: 40px;
}
.arrow1{
top:130px;
width: 35px;
height: 35px;
padding-top:5px;
}
}
@media only screen and (max-width: 572px) {
.helperland-title{
margin-left: 120px !important;
}
.helperland{
margin-left:0px;
}
}