
/* header css */

.navbar {
     max-width: 1560px;
    height: 64px;
    background: #525252 0% 0% no-repeat padding-box;
}

.navbar-nav {
   position: absolute;
    right: 15px;
}

a {
     color:white !important;
}

a:hover {
     color:white !important;
}

.nav-item {
  color:white !important;
}

.navbar .navbar-brand .logo {
    max-height: 54px;
    max-width: 73px;
    position: absolute;
    left: 15px;
    top: 6px;
}

.fa-bars {
    color: #007bff;
    font-size: 30px;
}

.booknow {
    width: 111px;
    height: 40px;
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}

.book-now {
    color:white !important;
    font-size: 17px;
    max-height: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.ps {
    color:white !important;
    width: 161px;
    height: 40px;
    background: #00607200;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 27px;

}

.ps1 {
    font-size: 17px;
    max-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.wbg {
    color:white !important;
    max-width: 258px;
    max-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
}

.login {
    color:white !important;
    width: 83px;
    height: 40px;
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
}

.log-in {
    font-size: 16px;

}

.helper {
    color:white !important;
    display: inline-flex;
    justify-content: center;
    width: 161px;
    height: 40px;
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
}

.helper1 {
    font-size: 16px;
}



.top-img{
margin-top: 0px;
margin-left: 0px;
width: 1560px;
height: 370px;
opacity: 1
}


/* Prices css */


.prices-main{
position: relative;
top: 31px;
left: 504px;
width: 553px;
height: 423px;
opacity: 1;
}

.prices{
position: absolute;
top: 0px;
left: 224px;
width: 102px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
opacity: 1;
font-size: 36px;
font-family: Roboto-Medium;
}

.star{
position: absolute;
top: 52px;
left: 263px;
width: 24px;
height: 25px;

opacity: 1;
}

.middle-left{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;;
top:65px;
left:192px;

}

.middle-right{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;;
top:65px;
left:295px;
}

.border-main{
position: absolute;
top: 119px;
left: 0px;
width: 553px;
height: 304px;
border: 1px solid #B0C9CE;
}
.one-time{
position: absolute;
top: 119px;
left: 0px;
width: 553px;
height: 59px;
background: #1D7A8C 0% 0% no-repeat padding-box;
text-align: center;
font-size: 28px;
font-family: Roboto-Bold;
color:white;
padding: 11px 217px 13px 216px;
opacity: 1;
}

.symbol{
position: absolute;
top: 207px;
left: 209px;
width: 31px;
height: 36px;
color:black;
opacity: 1;
}

.hr{
position: absolute;
top: 190px;
left: 248px;
width: 94px;
height: 58px;
text-align: center;
letter-spacing: 0px;
color: #646464;
text-align: center;
font-family: Roboto-Bold;
font-size: 48px;
opacity: 1;
}

.right-img{
position: absolute;
top: 281px;
left: 151px;
width: 24px;
height: 24px;
opacity: 1;
}

.right-text{
position: absolute;
top: 284px;
left: 184px;
width: 91px;
height: 19px;
text-align: left;
letter-spacing: 0px;
color: #646464;
opacity: 1;
font-size: 16px;
font-family: Roboto-Regular;
}

#right-im{
top:324px;

}
#right-i{
top:367px;

}
#right-txt{
top:327px;
width: 216px;

}
#right-tx{
top:370px;
width: 123px;
}

/* Services css */


.services-main{
position: relative;
top:51px;
left: 210px;
width: 1140px;
height: 325px;
opacity: 1;
}


.services{
position: absolute;
top: 41px;
left:467px;
width: 226px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 36px;
font-family: Roboto-Medium;
text-align: center;
opacity: 1;
}

.services-img{
position: absolute;
top: 93px;
left: 559px;
width: 24px;
height: 25px;
opacity: 1;

}

.star-left{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;;
top:106px;
left:486px;

}

.star-right{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;;
top:106px;
left:589px;
}


.first-img{
position: absolute;
top: 157px;
left: 83px;
border-radius: 108px;
padding:30px 35px 30px 36px;
width: 108px;
height: 108px;
border: 1px solid #B0C9CE;
opacity: 1;
}

.first-text{
position: absolute;
top: 279px;
left: 83px;
width: 108px;
height: 19px;
text-align: center;
letter-spacing: 0px;
color: #646464;
font-size: 16px;
font-family: Roboto-Regular;
text-align: center;
opacity: 1;
}

.first-text-des{
position: absolute;
top: 303px;
left: 83px;
width: 108px;
height: 22px;
text-align: center;
letter-spacing: 0px;
color: #1D7A8C;
font-size: 18px;
font-family: Roboto-Bold;
text-align: center;
opacity: 1;
}

#first-img{
left:300px; 
padding:24px 40px 28px 40px;
}
#second-img{
left:517px; 
padding:38px 28px;
}

#second-img{
left:517px; 
padding:38px 28px;
}
#third-img{
left:733px; 
padding: 31px 34px 31px 35px;
}
#forth-img{
left:950px; 
padding: 31px 30px 30px 31px;
}

#first-text{
left:300px;

}

#second-text{
left:517px;
  
}
#third-text{
 left:721px; 
 width: 138px;
  
}
#fourth-text{
 left:950px; 
 width: 118px;
  
}

#first-text-des{
left:300px;
}

#second-text-des{
left:517px;
}

#third-text-des{
 left:733px;
}

#fourth-text-des{
 left:950px;
}

/* Cleaning css */

.include{
margin-top: 100px;
width: 1560px;
height: 707px;
background-color: #F6F6F6;
border-top: solid #f6f6f6;
}

.include-name{
margin: 73px 556px 9px 556px;
font-family: Roboto-Medium;
font-size: 36px;
color: #4F4F4F;
}

.bedroom{
width: 360px;
height: fit-content;
margin-top: 42px;
margin-left: 209px;
}

.bathroom{
width: 360px;
height: fit-content;
margin-top: 42px;
margin-left: 30px;
}

.kichan{
width: 360px;
height: fit-content;
margin-top: 42px;
margin-left: 30px;
}

.clean-head{
font-family: Roboto-Bold;
font-size: 20px;
color: #4F4F4F;
font-weight: bold;
margin-top: 20px;
}

.point{
margin: 19px 9px 14px 0;
font-family: Roboto-Regular;
color: #4F4F4F;
font-size: 16px;
    }
.points{
display: flex;
}

.name{    
margin: 0 226px 9px 224px;
font-family: Roboto-Medium;
font-size: 36px;
color: #4F4F4F;
}

.line{
display: flex; 
width: fit-content; 
margin-left: 685px;
}
.line1{
margin-top: 12px;
margin-right: 9px;
width: 62px;
height: 1px;
background-color: #ccc;        
}

.line2{
width:62px ;
height: 1px;
margin-top: 12px;
margin-left: 9px;
background-color: #CCCCCC;
}
    
.include-container{
display: flex;
}
.star-img{
width: 24px;
height: 25px;       
}

#main{
margin:8px 9px 7px 0;
}

#main-m{
margin: 7px 9px 7px 0
}

/* Hyperland css */

.hyperland-main{
position: relative;
top: 71px;
left: 231px;
width: 1045px;
height: 367px;
opacity: 1;
}

.hyperland{
position: absolute;
top: 0px;
left: 422px;
width: 254px;
height: 43px;
text-align: center;
letter-spacing: 0px;
color: #4F4F4F;
font-size: 36px;
font-family: Roboto-Medium;
text-align: center;
}

.hyperland-img{
position: absolute;
top: 51px;
left: 536px;
width: 24px;
height: 25px;
}

.hyper-left{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;
top:63px;
left:466px;

}

.hyper-right{
content: "";
position: absolute;
width: 62px;
height: 1px;
background: #CCCCCC 0% 0% no-repeat padding-box;
top:65px;
left:569px;
}


.hyperland-text{
position: absolute;
top: 116px;
left: 0px;
width: 337px;
height: 24px;
font-size: 20px;
font-family: Roboto-Bold;
text-align: right;
letter-spacing: 0px;
color: #646464;
}

.hyperland-text-des{
position: absolute;
top: 150px;
left: 51px;
font-size: 14px;
font-family: Roboto-Regular;
width: 286px;
height: 85px;
text-align: right;
letter-spacing: 0px;
color: #646464;
}

.hyperland-second-text{
position: absolute;
top: 249px;
left: 86px;
width: 251px;
height: 24px;
font-family: Roboto-Bold;
font-size: 20px;
text-align: right;
letter-spacing: 0px;
color: #646464;
}

.hyperland-second-text-des{
position: absolute;
top: 283px;
left: 61px;
width: 276px;
height: 85px;
text-align: right;
letter-spacing: 0px;
color: #646464;
font-family: Roboto-Regular;
font-size: 14px;
 }

.hyperland-middle{
position: absolute;
top: 118px;
right: 295px;
width: 375px;
height: 241px;
background: transparent url('./image/the-best-img-1.png') 0% 0% no-repeat padding-box;
}

.hyperland-right-text{
position: absolute;
top: 116px;
right: 63px;
font-family: Roboto-Bold;
font-size: 20px;
width: 223px;
height: 24px;
text-align: left;
letter-spacing: 0px;
color: #646464;
}

#hyperland-right-texts{
left:759px;
text-align: left;
}

#hyperland-right-text-des{
left:760px;
text-align: left;
}

#hyperland-right-text{
left:759px;
text-align: left;
}

/* Footer css */

.news{
position: relative;
top: 110px;
left: 0px;
width: 1560px;
height: 334px;
opacity: 1;
}

.up-arrow{
position: absolute;
top: 20px;
left: 70px;
width: 48px;
height: 48px;
border-radius: 48px;
padding: 11px 14px 20px 14px;
background: #525252 0% 0% no-repeat padding-box;
}

.txt-lable{
position: absolute;
top: 9px;
left: 685px;
width: 190px;
height: 21px;
text-align: left;
letter-spacing: 0px;
color: #353548;
opacity: 1;
}

.whatsapp{
position: absolute;
top: 10px;
left: 1427px;
width: 63px;
height: 63px;
background: transparent url('./image/layer-598 (1).png') 0% 0% no-repeat padding-box;


}

input[type=email]{
position: absolute;
top: 37px;
left: 614px;
padding-left: 22px;
padding-top: 11px;
padding-bottom: 13px;
width: 233px;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
}

input[type=submit]{
position: absolute;
top: 37px;
left: 858px;
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}




.section{
position: absolute;   
bottom:0; 
left: 0px;
width: 1560px;
height: 195px;
height: 195px;
background-color: #111111;
margin-top: 53px;
font-family: Roboto-Regular;
}

.grid-container{
position: absolute;
top: 62.5px;
left: 489px;
display: grid;
grid-auto-flow: column;
width: 582px;
height: 44px;
color: #FFFFFF;
font-size: 13.99px;
font-family: Roboto-Regular;
-webkit-column-count: 2;
-moz-column-count: 2;
 column-count: 2;
}

.logo-bottom{
position: relative;
width: 120px;
height: 92px;
left: 115px;
top: 20px;
}

.grid-item{
cursor: pointer;
}

.fblogo{
position: absolute;
top: 61px;
right: 163px;
cursor: pointer;
}
.instalogo{
position: absolute;
top: 61px;
right: 123px;
cursor: pointer;
}

.Rectangle {
width: 1325px;
height: 1px;
margin: 26px 0 27px;
margin-left: 115px;
background-color: #424242;
}

.policy{
position: absolute;
top: 157px;
left: 536px;
width: 493px;
height: 16px;
font-family: Roboto-Regular;
font-size: 14px;
color: #9ba0a3;
}


/* Media Query */




@media only screen and (max-width: 1300px) {
 
.top-img img{
width: 1300px;
height: 350px;
}  


.prices-main{
left: 350px !important;
}

.services-main{
left: 70px !important;

}

.include-name{
margin: 73px 480px 9px 480px !important;

}

.hyperland-main{
left: 120px !important;
}


.up-arrow{
left: 20px !important;


}

.txt-lable{
left: 540px !important;


}

.whatsapp{
left: 1150px !important;
top:20px !important;


}

input[type=email]{
left: 520px !important;
}

input[type=submit]{
left: 780px !important;

}

.include{
margin-left: -30px;
}

.cart {
margin-left: 0px;
}

.line{

margin-left: 580px !important;
}
}




@media only screen and (max-width: 768px) {
 
.top-img img{
width: 800px;
height: 250px;
}  

.include{
height:1800px;
}

.include-container{
flex-direction: column;
}
.bathroom ,.kichan{
margin-left: 209px;
}


.prices-main{
left: 100px !important;
top: -70px;
}
.prices{
top:-10px;
}

.services-main{
left: -60px !important;
top:-10px;

}
.services{
top: 20px;
left:320px;
}

.services-img{
top: 93px;
left: 420px;
}

.star-left{

left:350px;

}

.star-right{

left:450px;
}

.first-img{
left: 65px;
}

.first-text{
left: 65px;
}

.first-text-des{
left: 65px;

}
#first-img{
left:220px; 

}
#second-img{
left:517px; 
}

#second-img{
left:375px; 

}
#third-img{
left:530px; 

}
#forth-img{
left:690px; 

}

#first-text{
left:220px;

}

#second-text{
left:375px;
  
}
#third-text{
 left:520px; 

  
}
#fourth-text{
 left:680px; 
 
  
}

#first-text-des{
left:220px;
}

#second-text-des{
left:375px;
}

#third-text-des{
 left:530px;
}

#fourth-text-des{
 left:685px;
}


.cart {
margin-left: -180px;
}

.line{

margin-left: 300px !important;
}

.include-name{
margin: 73px 600px 9px 200px !important;

}

.hyperland-main{
left: 0px !important;
}
.hyperland{
left: 250px;
top: -15px;
}

.hyperland-img{
left: 350px;

}

.hyper-left{

left:280px;

}

.hyper-right{
left:380px;
}
.hyperland-text{
width: 250px;
font-size: 14px;
}

.hyperland-text-des{
left: 15x;
font-size: 12px;
width: 200px;
}

.hyperland-second-text{
left: 30px;
width: 200px;
font-size: 14px;
}

.hyperland-second-text-des{
left: 30px;
width: 200px;
font-size: 12px;
 }
.hyperland-middle{
left: 230px;
}

.hyperland-right-text{
left: 545px;
font-size: 14px;
width: 223px;

}

#hyperland-right-text-des{
left:545px;
}

#hyperland-right-text{
left:545px;

}

.up-arrow{
left: 0px !important;


}
.txt-lable{
left: 290px !important;


}

.whatsapp{
left: 680px !important;
top:20px !important;


}

input[type=email]{
left: 250px !important;
}

input[type=submit]{
left: 500px !important;

}


.section{ 
width: 800px !important;
height: 195px;
}

.grid-container{

left: 200px;
display: column;
grid-auto-flow: column;
width: 400px;
font-size: 12px;
}

.logo-bottom{
width: 80px;
height: 60px;
left: 20px;
top: 50px;
}

.policy{
left: 180px;
}


.fblogo{
left: 670px;

}
.instalogo{
left: 700px;
}
}



@media only screen and (max-width: 550px) {

.top-img img{
width: 530px;
height: 180px;
}  

.prices-main{
left: 10px !important;
top: -150px;
}
.prices{
top:-10px;
left: 195px;
}
.border-main{
width: 510px;
height: 304px;

}
.one-time{
width: 510px;
font-size: 18px;
font-weight: bold;
}


.services-main{
left: -60px !important;
top:-80px;

}
.services{
top: 20px;
left:220px;
}
.star{
left: 235px;

}
.middle-left{
top:65px;
left:165px;

}

.middle-right{
top:65px;
left:265px;
}
.services-img{
top: 93px;
left: 310px;
}

.star-left{

left:240px;

}

.star-right{

left:340px;
}

.first-img{
left: 80px;
}

.first-text{
left: 80px;
}

.first-text-des{
left: 80px;

}
#first-img{
left:230px; 

}

#second-img{
left:385px; 

}
#third-img{
left:150px; 
top:350px;
}
#forth-img{

left:350px; 
top:350px;
}

#first-text{
left:230px;

}

#second-text{
left:385px;
  
}
#third-text{
left:140px; 
top:460px;

  
}
#fourth-text{

left:350px; 
top:460px;
 
  
}

#first-text-des{
left:230px;
}

#second-text-des{
left:385px;
}

#third-text-des{
 left:140px; 
top:475px;
}

#fourth-text-des{
 
left:350px; 
top:475px;
}
.include-container{
flex-direction: column;
}
.bedroom,.bathroom ,.kichan{
margin-left: 120px;
}


.line{

margin-left: 200px !important;
}

.include-name{
margin: 73px 600px 9px 80px !important;

}



.hyperland{
left: 90px;
top: -15px;
}

.hyperland-img{
left: 200px;

}

.hyper-left{

left:130px;

}

.hyper-right{
left:235px;
}


.hyperland-main{
height: 900px;
}

.hyperland-middle{
left: 0px;
top:400px;
}

.hyperland-right-text{
left: 40px;
top:670px;
font-size: 14px;
width: 223px;

}

#hyperland-right-text-des{
left:40px;
top:700px;
}

#hyperland-right-text{
left:40px;
top:800px;

}

#hyperland-right-texts{
 left:40px;
 top: 830px;
 text-align: left;
}



.up-arrow{
left: 0px !important;


}
.txt-lable{
left: 120px !important;


}

.whatsapp{
left: 450px !important;
top:20px !important;


}

input[type=email]{
left: 90px !important;
}

input[type=submit]{
left: 330px !important;

}


.section{ 
top:150px;
width: 500px !important;
height: 350px;
}

.grid-container{

left: 150px;
display: column;
grid-auto-flow: column;
width: 400px;
font-size: 12px;
}

.logo-bottom{
width: 80px;
height: 60px;
left: 20px;
top: 130px;
}

.policy{
left: 180px;
}


.fblogo{
left: 670px;

}
.instalogo{
left: 700px;
}
.Rectangle {
width: 0px;
height: 0px;

}

.policy{

left: 20px;
top:300px;
}
.grid-container{
left:200px;
display:"" !important;
grid-auto-flow: row !important;
}
.grid-container .grid-item{
padding-top: 10px;
}


.fblogo{
top:150px;
left: 350px;

}
.instalogo{
left: 400px;
top:150px;
}

}